/*
Theme Name: Atrakce Theme
Author: Ondrej Simecek
Description: Custom theme created for Tipy na akce section in www.onlineatrakce.cz
Version: 0.0.1
Tags: bootstrap
*/
body {
  font-family: 'Josefin Sans', sans-serif;
}
.page-top {
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  min-height: 100vh;
}
.header-container {
  background-color: #E9E7DA;
  color: black;
  padding: 1rem;
}
.header-container .title {
  text-align: center;
  padding: 0.5rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.header-container .title h1 {
  margin-top: 0.5rem;
}
.header-container .title a {
  color: black;
}
.header-container .title a:hover {
  color: #373F27;
}
.header-container .title img {
  width: 3.5rem;
  height: 3.5rem;
  margin: 0 0.5rem;
}
.header-container .description {
  text-align: center;
  font-size: 1.1rem;
}
.nav-container {
  background-color: #8FB258;
  color: white;
  padding: 0.8rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  box-shadow: 0 0 10px #192B33;
  z-index: 20;
}
.nav-container li {
  font-size: 1.2rem;
  transition: all 0.3s;
  transform: rotate(0);
}
.nav-container li:hover {
  transition: all 0.3s;
  transform: rotate(5deg);
}
.nav-container li a {
  color: white;
  padding: 1rem;
  display: block;
}
.nav-container li a:hover {
  color: #E9E7DA;
}
.carousel-container.main {
  flex: 1;
}
.carousel-container.projects {
  min-height: 50vh;
}
.carousel-container.projects > .row {
  height: 100%;
}
.carousel-container .owl-carousel {
  padding: 0;
}
.carousel-container .owl-carousel .item .box {
  position: relative;
  z-index: 10;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
}
.carousel-container .owl-carousel .item .box h4,
.carousel-container .owl-carousel .item .box p {
  font-size: 3.5rem;
  margin-top: -2rem;
}
.carousel-container .owl-carousel .item .box > div,
.carousel-container .owl-carousel .item .box .button {
  transition: all 0.3s;
  transform: rotate(0);
  margin-top: 1rem;
}
.carousel-container .owl-carousel .item .box > div.row,
.carousel-container .owl-carousel .item .box .button.row,
.carousel-container .owl-carousel .item .box > div.row:hover,
.carousel-container .owl-carousel .item .box .button.row:hover {
  transform: none;
  transition: none;
}
.carousel-container .owl-carousel .item .box > div:hover,
.carousel-container .owl-carousel .item .box .button:hover {
  transform: rotate(5deg);
}
.carousel-container .owl-carousel .item .box > div a,
.carousel-container .owl-carousel .item .box .button a {
  background-color: #FED833;
  padding: 1rem;
  color: black;
  transition: all 0.3s;
  box-shadow: none;
  font-size: 1.2rem;
}
.carousel-container .owl-carousel .item .box > div a:hover,
.carousel-container .owl-carousel .item .box .button a:hover {
  box-shadow: 0 2px 15px #192B33;
}
.carousel-container .owl-carousel .item .background {
  background-position: center;
  background-size: cover;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  z-index: 1;
}
.carousel-container .owl-stage,
.carousel-container .owl-stage-outer,
.carousel-container .owl-item,
.carousel-container .item {
  height: 100%;
}
.carousel-container .owl-theme .owl-nav {
  position: relative;
  top: -40vh;
}
.carousel-container .owl-theme .owl-nav > div {
  color: white;
  text-shadow: 0 0 10px #192B33;
  padding: 1rem 0.5rem !important;
  background: rgba(255, 255, 255, 0.5) !important;
  border-radius: 0;
}
.carousel-container .owl-theme .owl-nav > div span {
  font-size: 3rem;
}
.carousel-container .owl-theme .owl-nav .owl-prev {
  float: left;
}
.carousel-container .owl-theme .owl-nav .owl-next {
  float: right;
}
.carousel-container .owl-dots {
  position: relative;
  top: -20vh;
}
.carousel-container .owl-dots .owl-dot span {
  background-color: #F57E20 !important;
  box-shadow: 0 0 10px #192B33;
}
.carousel-container .owl-dots .owl-dot span:hover {
  transform: scale(1.2, 1.2);
}
.carousel-container .owl-dots .owl-dot.active span {
  transform: scale(1.5, 1.5);
  background-color: #192B33 !important;
  box-shadow: 0 0 10px white;
}
.carousel-container .more {
  position: absolute;
  top: 87%;
  z-index: 40;
  width: 100%;
  text-align: center;
  color: white;
  font-size: 2.5rem;
  text-shadow: 0 0 10px #192B33;
  cursor: pointer;
}
.blog-list {
  background-color: #CCCC51;
  color: black;
  padding: 2rem;
}
.blog-list h3 {
  margin: 1rem 0 0 1rem;
  color: white;
}
.blog-list .blog-post {
  margin: 1rem;
  padding: 1rem;
  background-color: white;
  box-shadow: 0 2px 7px black;
  transition: all 0.4s;
}
.blog-list .blog-post:hover {
  box-shadow: 0 12px 40px black;
  transition: all 0.4s;
  transform: translateY(-4px);
}
.blog-list .blog-post h2 {
  border-bottom: 1px double black;
  text-align: center;
}
.blog-list .blog-post p {
  text-align: justify;
}
.blog-list .blog-post p a {
  text-decoration: underline;
}
.blog-list .blog-post a {
  color: black;
}
.company-features-container {
  background-color: #E9E7DA;
}
.company-features-container .company-features {
  padding: 5rem 0rem;
}
.company-features-container .company-features .post {
  background-color: white;
  padding: 3rem;
  box-shadow: 0 2px 5px #192B33;
  transition: all 0.4s;
}
.company-features-container .company-features .post:hover {
  box-shadow: 0 12px 40px #192B33;
  transition: all 0.4s;
  transform: translateY(-4px) rotate(1deg);
}
.company-features-container .company-features .post .post-header {
  overflow: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-end;
  border-bottom: 1px solid black;
  margin: 1rem 0;
}
.company-features-container .company-features .post .post-header .post-thumbnail {
  width: 40px;
  margin: 10px;
  float: left;
}
.company-features-container .company-features .contact-button {
  padding: 1rem 0;
  margin: 3rem 0 0;
  text-align: center;
  transition: all 0.3s;
}
.company-features-container .company-features .contact-button:hover {
  transform: rotate(5deg);
}
.company-features-container .company-features .contact-button a {
  text-align: center;
  padding: 1rem;
  font-size: 1.2rem;
  background-color: #FED833;
  color: black;
  box-shadow: 0 2px 10px #192B33;
  transition: all 0.3s;
}
.company-features-container .company-features .contact-button a:hover {
  box-shadow: 0 5px 20px #192B33;
}
.projects .item .box h3 {
  margin-bottom: 2rem;
}
.projects .item .box p {
  font-size: 1.2rem !important;
  text-align: justify;
}
.contact {
  padding: 2rem;
  text-align: center;
  background-color: #CCCC51;
}
.contact #map {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
.contact #disabler {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
}
.contact h3 {
  margin: 1rem 0 0 1rem;
  color: white;
  text-align: center;
  position: relative;
}
.contact .contact-list {
  background-color: white;
  padding: 2rem;
  box-shadow: 0 1px 5px #192B33;
}
.contact .contact-list p {
  margin: 0;
}
.contact .contact-list a {
  color: #192B33;
}
.contact .button {
  transition: all 0.3s;
  transform: rotate(0);
  margin-top: 2rem;
}
.contact .button:hover {
  transform: rotate(5deg);
}
.contact .button > a {
  background-color: #FED833;
  padding: 1rem;
  color: black;
  transition: all 0.3s;
  box-shadow: none;
  font-size: 1.2rem;
}
.contact .button > a:hover {
  box-shadow: 0 2px 15px #192B33;
}
.footer {
  padding: 1rem;
  background-color: #E9E7DA;
}
.footer .left {
  text-align: left;
}
.footer .right {
  text-align: right;
}
.footer .right a {
  background-color: #192B33;
  color: white;
  border-radius: 15px;
  padding: 0.8rem 0.5rem 0.5rem 0.5rem;
}
.footer .to-top {
  background-color: #192B33;
  color: white !important;
  padding: 1rem;
  position: fixed;
  top: 0;
  left: 90%;
  z-index: 20;
}
.footer .to-top:hover {
  cursor: pointer;
}
.footer p {
  margin: 0;
}
.footer a {
  color: black;
}
/*# sourceMappingURL=style.css.map */