/*
Theme Name: Atrakce Theme
Author: Ondrej Simecek
Description: Custom theme created for Tipy na akce section in www.onlineatrakce.cz
Version: 0.0.1
Tags: bootstrap
*/

@gold: #F2C579; //#CDA34F; // white text
@daisy: #E9E7DA; // black text
@stem: #636B46; // white text
@greenery: #373F27; // white text

@dark: #192B33;
@primary: #8FB258;
@neutral: #CCCC51;
@secondary: #FED833;
@action: #F57E20;

body {
  font-family: 'Josefin Sans', sans-serif;
}

.page-top {
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  min-height: 100vh;
}

.header-container {
  background-color: @daisy;
  color: black;
  padding: 1rem;

  .title {
    text-align: center;
    padding: 0.5rem;
    display: flex;
    flex-direction: row;
    justify-content: center;

    h1 {
      margin-top: 0.5rem;
    }

    a {
      color: black;

      &:hover {
        color: @greenery;
      }
    }

    img {
      width: 3.5rem;
      height: 3.5rem;
      margin: 0 0.5rem;
    }
  }

  .description {
    text-align: center;
    font-size: 1.1rem;
  }
}

.nav-container {
  background-color: @primary;
  color: white;
  padding: 0.8rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  box-shadow: 0 0 10px @dark;
  z-index: 20;

  li {
    font-size: 1.2rem;
    transition: all .3s;
    transform: rotate(0);

    &:hover {
      transition: all .3s;
      transform: rotate(5deg);
    }

    a {
      color: white;
      padding: 1rem;
      display: block;

      &:hover {
        color: @daisy;
      }
    }
  }
}

.carousel-container {
  &.main {
    flex: 1;
  }

  &.projects {
    min-height: 50vh;

    & > .row {
      height: 100%;
    }
  }

  .owl-carousel {
    padding: 0;

    .item {
      .box {
        position: relative;
        z-index: 10;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100%;
        text-align: center;
        background-color: rgba(0, 0, 0, 0.5);
        color: white;

        h4, p {
          font-size: 3.5rem;
          margin-top: -2rem;
        }

        & > div, .button {
          transition: all .3s;
          transform: rotate(0);
          margin-top: 1rem;

          &.row, &.row:hover {
            transform: none;
            transition: none;
          }

          &:hover {
            transform: rotate(5deg);
          }

          a {
            background-color: @secondary;
            padding: 1rem;
            color: black;
            transition: all .3s;
            box-shadow: none;
            font-size: 1.2rem;

            &:hover {
              box-shadow: 0 2px 15px @dark;
            }
          }
        }
      }

      .background {
        background-position: center;
        background-size: cover;
        height: 100%;
        width: 100%;

        position: absolute;
        top: 0;
        z-index: 1;
      }
    }
  }

  .owl-stage, .owl-stage-outer, .owl-item, .item {
    height: 100%;
  }

  .owl-theme .owl-nav {
    position: relative;
    top: -40vh;

    & > div {
      color: white;
      text-shadow: 0 0 10px @dark;
      padding: 1rem 0.5rem !important;
      background: rgba(255, 255, 255, 0.5) !important;
      border-radius: 0;

      span {
        font-size: 3rem;
      }
    }

    .owl-prev {
      float: left;
    }
    .owl-next {
      float: right;
    }
  }

  .owl-dots {
    position: relative;
    top: -20vh;

    .owl-dot span {
      background-color: @action !important;
      box-shadow: 0 0 10px @dark;

      &:hover {
        transform: scale(1.2, 1.2);
      }
    }
    .owl-dot.active span {
      transform: scale(1.5, 1.5);
      background-color: @dark !important;
      box-shadow: 0 0 10px white;
    }
  }

  .more {
    position: absolute;
    top: 87%;
    z-index: 40;
    width: 100%;
    text-align: center;
    color: white;
    font-size: 2.5rem;
    text-shadow: 0 0 10px @dark;
    cursor: pointer;
  }
}

.blog-list {
  background-color: @neutral;
  color: black;
  padding: 2rem;

  h3 {
    margin: 1rem 0 0 1rem;
    color: white;
    //border-bottom: 1px solid white;
  }

  .blog-post {
    margin: 1rem;
    padding: 1rem;
    background-color: white;
    box-shadow: 0 2px 7px black;
    transition: all .4s;

    &:hover {
      box-shadow: 0 12px 40px black;
      transition: all .4s;
      transform: translateY(-4px);
    }

    h2 {
      border-bottom: 1px double black;
      text-align: center;
    }

    p {
      text-align: justify;

      a {
        text-decoration: underline;
      }
    }

    a {
      color: black;
    }
  }
}

.company-features-container {
  background-color: @daisy;

  .company-features {
    padding: 5rem 0rem;

    .post {
      background-color: white;
      padding: 3rem;
      box-shadow: 0 2px 5px @dark;
      transition: all .4s;

      &:hover {
        box-shadow: 0 12px 40px @dark;
        transition: all .4s;
        transform: translateY(-4px) rotate(1deg);
      }

      .post-header {
        overflow: auto;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: flex-end;
        border-bottom: 1px solid black;
        margin: 1rem 0;

        .post-thumbnail {
          width: 40px;
          margin: 10px;
          float: left;
        }
      }
    }

    .contact-button {
      padding: 1rem 0;
      margin: 3rem 0 0;
      text-align: center;
      transition: all .3s;

      &:hover {
        transform: rotate(5deg);
      }

      a {
        text-align: center;
        padding: 1rem;
        font-size: 1.2rem;
        background-color: @secondary;
        color: black;
        box-shadow: 0 2px 10px @dark;
        transition: all .3s;

        &:hover {
          box-shadow: 0 5px 20px @dark;
        }
      }
    }
  }
}

.projects {
  .item {
    .box {
      h3 {
        margin-bottom: 2rem;
      }

      p {
        font-size: 1.2rem !important;
        text-align: justify;
      }
    }
  }
}

.contact {
  padding: 2rem;
  text-align: center;
  background-color: @neutral;

  #map {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
  }

  #disabler {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
  }

  h3 {
    margin: 1rem 0 0 1rem;
    color: white;
    text-align: center;
    position: relative;
  }

  .contact-list {
    background-color: white;
    padding: 2rem;
    box-shadow: 0 1px 5px @dark;

    p {
      margin: 0;
    }

    a {
      color: @dark;
    }
  }

  .button {
    transition: all .3s;
    transform: rotate(0);
    margin-top: 2rem;

    &:hover {
      transform: rotate(5deg);
    }

    & > a {
      background-color: @secondary;
      padding: 1rem;
      color: black;
      transition: all .3s;
      box-shadow: none;
      font-size: 1.2rem;

      &:hover {
        box-shadow: 0 2px 15px @dark;
      }
    }
  }
}

.footer {
  padding: 1rem;
  background-color: @daisy;

  .left {
    text-align: left;
  }

  .right {
    text-align: right;

     a {
       background-color: @dark;
       color: white;
       border-radius: 15px;
       padding: 0.8rem 0.5rem 0.5rem 0.5rem;
     }
  }

  .to-top {
    background-color: @dark;
    color: white !important;
    padding: 1rem;
    position: fixed;
    top: 0;
    left: 90%;
    z-index: 20;

    &:hover {
      cursor: pointer;
    }
  }

  p {
    margin: 0;
  }

  a {
    color: black;
  }
}