body {
  font-family: 'Comfortaa', cursive;
}

table {
  width: 100%;
  border-spacing: 0;
}

.smaller-font {
  font-size: 0.9rem;
}

.no-spaces {
  margin: 0;
  padding: 0;
}

.bigger-font {
  font-size: 1.2rem;
}

.border-around {
  border-top: 1px solid black;
  border-left: 1px solid black;
  border-right: 1px solid black;
}
.border-bottom {
  border-bottom: 1px solid black;
}

.border-top {
  border-top: 1px solid black;

  td {
    border-top: 1px solid black;
  }
}

.border-full {
  border: 1px solid black;
}

.col-6 {
  width: 50%;
  float: left;
}

.col-3 {
  width: 25%;
}

.double-row {
  td {
    height: 5rem;
  }
}

.left {
  text-align: left;
}
.right {
  text-align: right;
}
.center {
  text-align: center;
}

.bold {
  font-weight: bold;
}

.padding-around {
  // not working css3 selectors
  td.first {
    padding-left: 7px;
  }

  td.last {
    padding-right: 7px;
  }

  td {
    padding-top: 7px;
  }

  td.padding-bottom {
    padding-bottom: 7px;
  }
}

.vert-line {
  border-left: 1px solid black;
}

.line {
  td {
    border-top: 1px solid black;
    padding: 0;
  }
}

.line-with-spaces {
  td {
    border-top: 1px dotted black;
    padding: 0;
  }
}

.registration-note {
  font-size: 10px;
}

.eet-codes {
  font-size: 12px;
}

.thanks {
  color: grey;
  font-size: 20px;
}

.thanks-smaller {
  color: grey;
  font-size: 15px;
}


.imge{

  height: 50px;
}