@primaryDarkBlue: #0a77a9; //#293E4A;
@primaryDarkBlueWithTransparency: #0a77a9;
@secondaryDarkBlue: #0a77a9;

@primaryWhite: #ffffff;

@primaryLightBlue: #4DB3B3;
@secondaryLightBlue: #49A3A3;

@primaryRed: #F24E49;
@secondaryRed: #D6413C;

@primaryOrange: #28c128; //#E6772E;
@secondaryOrange: #28c128; //#D1661F;

@primaryYellow: #28c128;
@secondaryYellow: #28c128;
@brightYellow: #28c128;

@lightBackground: #FFFDF8;
@brightRed: #F8362C;
@kaky: #BCC301;
@green: #28c128; //#7AA915;

@lightGreen: #dbffd8;
@lightYellow: #ffffd8;
@lightOrange: #ffddab;
@lightRed: #ffd8d8;

@unpaidOrder: #6a27b2;
@canceledOrder: #6b0f1f;
@reviewedOrder: #142977;
@sentInvoiceOrder: #0b5920;
@finishedOrder: #838383;

@mainLightGrey: rgba(241, 241, 241, 0.8);

@reservation: #cb9331;

@lg: 1270px;
@md: 992px;
@sm: 768px;
@xsm: 420px;

//Website-wide styles
body {
  font-family: 'Comfortaa', sans-serif;
  overflow: scroll;
  color: @primaryDarkBlue;
}

a {
  color: @secondaryDarkBlue;
  &:hover {
    color: @primaryDarkBlue;
  }
}



#invoicea{
  &:hover {

    background-color: #B0C4DE33;
    transition: background-color 0.5s ease;
  }

}

.disabled-btn {
  border-color: rgba(88, 83, 91, 0.34);
  background-color: rgba(88, 83, 91, 0.34);
  &:hover {
    border-color: rgba(88, 83, 91, 0.34);
    cursor: not-allowed;
    background-color: rgba(88, 83, 91, 0.34);
  }
}

.alert-venue {
  display: none;
}

.display-venue-error {
  display: block;
};

input {
  line-height: 1.5 !important;
  padding: 0 12px;
}

.cart-list-counter {
  padding-left: 5px;
}

.ti-arrow-circle-down {
  margin-left: 4px;

}

.save {
  min-width: 200px;
}

.modal{
  top: 100px;
}



.divider{
  width: 85vw;
  margin-top: 20px;
  margin-bottom: 20px;
  border: 0;
  border-top: 2px solid #0078ae;


}

#public {

  .container-fluid {
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: left bottom;
    background-image: linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 30%, rgba(10, 119, 169, 0.30) 100%);

  }
}

.ti-user {
  margin-right: 4px;

}

.ti-shopping-cart {
  margin-right: 4px;

}

.signature {
  margin-top: 20px;
  color: @primaryDarkBlue;
  //background-color: white;
  margin-left: 30px;

  p {
    display: inline-block;
  }

}

.paddingtop100{
  padding-top: 100px;
}


.paddingtop70{
  padding-top: 70px;
}

.alert-danger {
  color: @secondaryRed;
}

.form-group.required .control-label:after {
  content: "*";
  color: red;
}

.form-control {
  line-height: 3;
  color: #000000!important;
}

.mt5 {
  margin-top: 50px;
}

.contact-overlay {
  padding: 0 30px;

  .margin-top-5 {
    margin-top: 50px;
  }

  .margin-bottom-5 {
    margin-bottom: 50px;
  }

  .contact-wrapper {

    .contact-item {

      .text-wrapper {
        padding: 15px 0;

        p {
          margin: 0;
        }

      }

      .text-wrapper--small {

        p {
          font-size: 10px;
        }

      }

    }

  }

}

.green {
  color: green;
}

.red {
  color: @primaryRed;
}

.bold {
  font-weight: bold;
}

.no-margin {
  margin: 0 !important;
}

#overlay {
  position: fixed; /* Sit on top of the page content */
  display: none; /* Hidden by default */
  width: 100%; /* Full width (cover the whole page) */
  height: 100%; /* Full height (cover the whole page) */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5); /* Black background with opacity */
  z-index: 10; /* Specify a stack order in case you're using a different order for other elements */
  cursor: pointer; /* Add a pointer on hover */
}


#public{
.sidebar{
  margin-top: 0px;
  z-index: 9;

}


}







.sidebar {
  transition: all .5s ease;
  margin-top: 60px;
  position: fixed;
  width: 250px;
  background-color: @primaryDarkBlue;
  height: calc(~"100% - 62px");
  height: calc(~"100vh - 62px");
  float: left;
  overflow: hidden;
  z-index: 99999;

  div {
    height: 100%;
    overflow: hidden;
  }

  ul {
    padding: 0;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;

    li {
      display: block;
      width: 240px;
      font-size: 1.6em;
      padding: 10px 0;
      font-weight: lighter;

      &.current {
        background-color: @primaryDarkBlue;
      }

      span {
        width: 30px;
        height: 30px;
        margin: 0 16px;
      }
    }

    a {
      color: white;
    }
  }
}

@font_family_1: "Glyphicons Halflings";

.imagGalerry {
  height: 85%;
  overflow: hidden;
}

.carousel-gallery {
  background-color: white;
  width: 40%;
  height: 250px;
  margin-right: 100px;
  color: @primaryDarkBlue;
  border-radius: 5px;
  text-align: center;
  &:before {
    display: block;
    text-align: center;
    line-height: 200px;
    font-size: 100px;
  }
}

@media (max-width: 900px){

  .carousel-gallery{

    width: 80%;
  }
}


.product-cell {
  margin-right: 20px;
  overflow: hidden;
}

.product-cell img {
  display: block;
  height: 200px;
}


.detaile{

  padding: 0px 20px;

}


.videoResponsive{
height: 500px;
  
}

@media (max-width: 600px) {

  .videoResponsive{
    height: 250px;

  }

}


.carousel-tips {
  color: white;
  width: 35%;
  height: 400px;
  margin-right: 100px;
  background: @primaryDarkBlue;
  border-radius: 5px;
  text-align: center;
  &:before {
    display: block;
    text-align: center;
    line-height: 200px;
    font-size: 100px;
  }
}

@media (max-width: 600px) {

  .carousel-tips {
   width: 80%;
  }

  }

.imag {
  height: 50%;
  overflow: hidden;
}

.ima{
  width: 100%;

}

/* cell number */

.carousel-celll {
  height: 400px;
  margin-right: 150px;
  background: @primaryDarkBlue;
  border-radius: 5px;
  &:before {
    display: block;
    text-align: center;
    line-height: 200px;
    font-size: 100px;
  }
}

.prvni {
  &:before {
    font-family: @font_family_1;
    content: "\e108";
  }
}

.druha {
  &:before {
    font-family: @font_family_1;
    content: "\e007";
  }
}

.treti {
  &:before {
    font-family: @font_family_1;
    content: "\e067";
  }
}

.ctvrta {
  &:before {
    font-family: @font_family_1;
    content: "\e215";
  }
}

.pata {
  &:before {
    font-family: @font_family_1;
    content: "\e021";
  }
}

.centrovac {
  display: flex;
  justify-content: center;
  align-items: center;
}

.modrej {

  color: @primaryDarkBlue;
}

.half {

  width: 70%;
}

.pismoVetsi {
  font-size: 2em;
}

.pismoMensi {
  font-size: 1em;
}

.kraje {
  margin-left: 50px;
  margin-right: 50px;
  margin-top: 20px;
}

.page-status, .image-status, .category-status, .price-included-status, .technical-status, .status {
  display: none;

  .alert {
    padding: 14px;
    margin-bottom: 0;
    overflow: auto;

    .inner {
      max-width: 55rem;
      max-height: 50px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      float: left;
    }

    span {
      float: right;
      margin-left: 5px;
      font-size: 1.5rem;
      font-weight: bold;
    }
  }
}

//Public web
#public {
  // all pages

  header {
    z-index: 50;
    position: relative;

  }

  h1.navbar-brand a {

    text-decoration: none;
    color: black;
  }

  .navbar {
    margin: 0;
    padding-top: 10px;
    border-radius: 0;
    min-height: 70px;
    font-size: 1.6rem;
    background-color: white !important;
    border-color: white !important;
    z-index: 200;
    position: fixed;
    width: 100vw;

    .container-fluid {
      overflow: visible;

    }

    .navbar-brand {
      margin: 0;
      font-size: 2.5rem;
      color: black;
      transform: scale(1, 1);
      transition: all 0.2s;
      padding: 0px 15px !important;

      &:hover {
        color: #111111;
        transform: scale(1.05, 1.05);
        transition: all 0.2s;
      }

      @media (max-width: @xsm) {
        font-size: 2.5rem;
      }
    }

    ul.nav {
      & > li > a {

        padding: 1.7rem;
        font-size: 1.7rem;
        transform: scale(1, 1);
        transition: all 0.2s;

        &:hover {
          padding: 1.7rem;
          transform: scale(1.2, 1.2);
          transition: all 0.2s;
        }
      }
    }

    li.dropdown:hover > ul.dropdown-menu,
    li.dropdown-submenu:hover > div.dropdown-extension {
      display: block;
    }

    .popover {
      min-width: 600px;
      min-height: 400px;
      height: 100%;
      left: 100%-2px;
      padding: 0;
      border-radius: 0;
      overflow: visible;
      box-shadow: 0 0 5px grey;
      background-color: @lightBackground;
      border: none;
      color: black;
      font-family: 'Comfortaa', cursive;

      .popover-content {
        text-align: center;
        padding: 0;
        height: 100%;

        ul {
          width: 300px;
          min-height: 150px;
          float: left;
          height: 100%;
          overflow: auto;
          list-style-type: circle;

          li {
            padding: 0;
            margin: 0;
            text-align: left;

            &:hover {
              background-color: @primaryDarkBlue;
              color: white;
            }

            a {
              padding: 1rem 1rem;
              font-size: 1.6rem;
            }

            a:hover {
              color: white;
            }
          }
        }

        .popover-title {
          border: none;
          border-radius: 0;
          background-color: transparent;
          font-size: 3rem;
          font-family: 'Comfortaa', cursive;
          padding: 4rem 0;
        }

        img {
          position: absolute;
          left: 300px;
          height: 400px;
          /*top: 25%;
          left: 25%;
          height: 100%;
          width: 100%;*/
        }
      }
    }

    .dropdown-menu {
      border: none;
      border-radius: 0;
      padding: 0;
      background-color: @lightBackground;
      color: black;
      box-shadow: 0 0 5px grey;
      transition: all .5s ease;
      min-width: 280px;
      max-height: 90vh;
      overflow: auto;

      li, a {
        font-size: 1em;
        color: black;
        border-bottom: .5px solid @mainLightGrey;
      }

      & > li > a:hover {
        color: white;
        font-size: 1.2em;
        background: @primaryDarkBlue none;
      }

      &.cart-list {
        li:hover {
          color: white;
          background-color: @primaryDarkBlue;

          a {
            color: white;
          }
        }

        li {
          padding: 0 1rem;
        }

        div, a {
          display: flex;
          flex-direction: row;
          align-items: center;
        }

        img {
          max-width: 40px;
          max-height: 40px;
          height: auto;
          width: auto;
        }

        a span:first-of-type {
          width: 350px;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
          display: inline-block;
        }

        span {
          margin: 1rem;

          &.cart-remove:hover {
            cursor: pointer;
          }
        }
      }
    }

    ul {
      li {
        a {
          color: @primaryDarkBlue;
          transition: font-size 0.2s, font-weight 0.2s, padding 0.2s;
          background-color: transparent;
          padding: 1rem;
          font-size: 1.7rem;

          &:hover {
            color: #111111;
            padding: 1rem;
            font-size: 1.7rem;
            transition: font-size 0.2s, font-weight 0.2s, padding 0.2s;
          }
        }
      }
    }

    @media (max-width: @lg) {
      .navbar-toggle {
        color: @primaryDarkBlue;
        border-color: @primaryDarkBlue;
        margin-top: 0px;

        &:focus {
          color: white;
        }
      }

      .navbar-collapse {
        background-color: @primaryDarkBlue;
        color: white;
        text-align: center;

        .navbar-nav > li > a {
          color: white;

          &:hover {
            transform: none;
          }
        }

        @media (max-width: @sm) {
          .navbar-nav > .navbar-nav {
            padding: 0 1.7rem;
          }
        }
      }
    }
  }

  .check-availability {
    width: 100%;
  }

  .btn-primary {
    color: @primaryWhite;
    background-color: @primaryDarkBlue;
    border-color: transparent;
    border-width: 2px;
    transition: all .25s ease;
    min-width: 200px;

    &:hover {
      background-color: @primaryWhite;
      color: @primaryDarkBlue;
    }
  }

  .list-margin {
    li {
      margin: 20px;
    }
  }

  .price-list {
    color: @primaryWhite;
    margin-bottom: 50px;

    .credit-card {
      &:before {
        font-family: @font_family_1;
        content: "\e177";
      }
    }

    .bank-account {
      &:before {
        font-family: @font_family_1;
        content: "\e039";
      }
    }

    .cash {
      &:before {
        font-family: @font_family_1;
        content: "\e148";
      }
    }

    .pig {
      &:before {

        font-family: @font_family_1;
        content: "\e225";
      }
    }

  }

  .footer-line {
    //background-color: white;
  }

  footer {
    color: @primaryDarkBlue;
    //padding-top:3rem;
    //padding-left: 15rem;
    //background-color: white;
    overflow: auto;
    padding-top: 20px;

    .con {

      margin-bottom: 20px;
    }

    h4, h5 {
      font-weight: bold;
      font-size: 2.2rem;
    }

    iframe {
      width: 100%;
      height: 30rem;
    }

    .social {
      img {
        width: 5rem;
        height: 5rem;
        margin: 2rem;
        transition: all .3s;
        transform: translateY(0px);

        &:hover {
          width: 6rem;
          height: 6rem;
          margin: 1.5rem;
          transition: all .3s;
          transform: translateY(-4px);
        }
      }
    }

    @media (max-width: @lg) {
      padding: 6rem;
    }
    @media (max-width: @sm) {
      padding: 2rem;
    }
  }

  .admin-box {
    background-color: black;
    color: white;
    padding: 2rem;

    position: fixed;
    bottom: 0;

    a {
      color: white;
    }
  }

  // main page
  .scroll-anim {
    visibility: hidden;
  }

  .text-slider {
    position: static;
    width: 100%;
    margin: 0 auto;

    #slides {
      overflow: hidden;
      position: static;
      width: 100%;

      ul {
        list-style: none;
        width: 100%;
        margin: 0;
        padding: 0;
        position: relative;
      }

      li {
        width: 100%;
        float: left;
        text-align: center;
        position: relative;
      }
    }
  }

  .owl-carousel {
    padding: 0;
    max-height: 70rem;

    &.owl-theme .item .box {
      margin: 25vh 15vw;

      @media (max-width: @lg) {
        margin: 20vh 15vw;
        text-align: center;
      }

      @media (max-width: @sm) {
        margin: 15vh auto;

        h4 {
          font-size: 4.5rem;
        }
      }
    }

    &.owl-theme {

      .item {
        height: calc(~"100% - 70px");
        height: calc(~"100vh - 70px");
        background-position: center;
        background-size: cover;
        display: flex;

        .box {
          margin: 35vh auto;
          color: #FFF;

          .black {
            color: #000;
          }

          h4 {
            font-size: 4rem;
            background-color: rgba(0, 0, 0, 0.50);
            border-radius: 20px;
            box-shadow: 3px 3px 5px 6px rgba(0, 0, 0, 0.50);
            padding: 10px;

            @media (max-width: @xsm) {
              font-size: 3rem;
            }
          }

          a {
            display: inline-block;
            color: #FFF;
            font-size: 2rem;
            //margin: 2rem 0;
            //padding: 1.5rem;
            background-color: @brightRed;
            transition: all 0.3s;

            &:hover {
              padding: 2rem;
              transition: all 0.3s;
            }
          }
        }
      }

      .owl-nav {
        text-align: center;
        -webkit-tap-highlight-color: transparent;
        position: absolute;
        top: calc(~"50% - 70px");
        top: calc(~"50vh - 70px");
        text-shadow: 0 0 10px black;
        width: 100%;
        pointer-events: none;

        [class*='owl-'] {
          color: #FFF;
          font-size: 60px;
          padding: 20px 10px 10px;
          display: inline-block;
          cursor: pointer;
          pointer-events: all;
          border-radius: 0;

          @media (max-width: @xsm) {
            font-size: 1.5rem;
          }
        }

        [class*='owl-']:hover {
          background: rgba(86, 97, 91, 0.3);
          text-decoration: none;
        }

        .disabled {
          opacity: 0.5;
          cursor: default;
        }

        &.disabled + .owl-dots {
          margin-top: 10px;
        }
      }

      .owl-dots {
        text-align: center;
        -webkit-tap-highlight-color: transparent;
        position: absolute;
        top: calc(~"70% - 70px");
        top: calc(~"70vh - 70px");
        width: 100%;

        @media (max-width: @xsm) {
          top: calc(~"80vh - 70px");
        }

        .owl-dot {
          display: inline-block;
          zoom: 1;
          *display: inline;

          span {
            width: 12px;
            height: 12px;
            margin: 5px 7px;
            background: @lightBackground;
            display: block;
            -webkit-backface-visibility: visible;
            transition: opacity 200ms ease;
            border-radius: 30px;
            box-shadow: 0 0 5px black;
          }
        }

        .owl-dot.active span, .owl-dot:hover span {
          background: grey;
        }
      }
    }
  }

  @color_1: #fff;
  @background_color_1: black;

  .tooltipss {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
    .tooltiptextss {
      visibility: hidden;
      width: 100px;
      background-color: white;
      font-size: .7em;
      color: black;
      font-family: 'Comfortaa', sans-serif;

      text-align: center;
      border-color: black;
      border-radius: 2px;
      padding: 5px 0;
      position: absolute;
      z-index: 1;
      top: 200%;
      left: 50%;
      margin-left: -60px;
    }
    &:hover {
      .tooltiptextss {
        visibility: visible;
      }
    }
  }


  .carouselBig {
    background: #FAFAFA;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 80px;

  }
  .carouselBig-cell {
    height: 500px;

  }

  /* cell number */
  .carouselBig-cell:before {
    display: block;
    text-align: center;

    line-height: 200px;
    font-size: 100px;

  }

  .centrovacBig {

    position: absolute;
    margin: 0;

  }

  .velkeBig {
    margin-top: 20px;
    font-size: 2em;
    color: @primaryDarkBlue;
  }

  .maleBig {
    margin-top: 20px;
    font-size: 1.5em;
    color: @primaryDarkBlue;
  }

  .boxBig {
    width: 400px;
    min-height: 200px;
    margin-top: 125px;
    padding: 5px;
    overflow: auto;
    background: rgba(255, 255, 255, 0.8);
  }

  .parentBoxBig {
    display: flex;
    justify-content: center;
    margin-left: 40vw;
  }

  @media (max-width: 992px) {

    .parentBoxBig {
      margin-left: 0vw;

    }
  }

  .more {
    position: relative;
    top: -15vh;
    z-index: 10;
    font-size: 5rem;

    @media (max-width: @xsm) {
      top: -16vh;
      font-size: 3rem;
    }

    a {
      position: absolute;
      text-align: center;
      width: 100%;
      color: white;
      text-shadow: 0 0 10px black;
      text-decoration: none;
      transition: all 0.3s;

      &:hover {
        font-size: 5.5rem;
        text-decoration: none;
        transition: all 0.3s;

        @media (max-width: @xsm) {
          font-size: 3.5rem;
        }
      }
    }
  }

  .tip {

    .search-datetimepicker {
      position: relative;
      color: @primaryDarkBlue;
    }

    #search-hints {
      position: absolute;
      display: none;
      width: 100%;
      // margin-left:-200px;
      padding: 0 1.5rem;
      min-width: 240px;
      background-color: white;
      box-shadow: 0 1px 5px grey;

    }

    @media (max-width: @lg) {
      & > .col-md-5 {
        display: none;
      }
    }
  }

  .favourite {

    > [class*='col-'] {
      margin-top: 0;
      margin-bottom: 2rem;
      position: relative;
      z-index: 5;
      background-color: transparent;

      & > .row {
        margin: 25px -5px;
      }
    }

    h2, h3 {
      margin: 0 -15px;
      padding: 1rem;
      color: @primaryDarkBlue;
    }

    .go-to {
      background-color: @primaryDarkBlue;
      color: white;

      p {
        margin: 1rem;
        color: white;
        text-align: center;
      }
    }
  }

  .paddingl {

    padding-left: 10px;
    padding-right: 10px;
  }
  .item-box {
    background-color: @primaryWhite;
    transition: all .5s ease;
    margin-top: 10px;
    &:hover {
      background-color: #0A77A920;
      color: @primaryDarkBlue;

      .details {

        .text {
          a {
            text-decoration: none !important;

          }
        }

      }

    }

    .details {

      .row {
        margin: 0;
        font-size: 1.5rem;
        transition: all .3s;

        &:hover {
          transform: translateY(0.5rem);
          transition: all .3s;
        }
      }

      .col-sm-6 {
        font-size: .8em;
        text-align: center;
        transition: all .3s;

        &:hover {
          //padding: 2.5rem 0 2rem;
          //transform: translateY(-0.5rem);
          transition: all .3s;
        }

        a {
          padding: 2rem 0;
          display: grid;
        }
      }

      h4 {
        height: 6rem;
        font-size: 1.6rem;
      }

      .text {
        text-align: center;
        overflow: auto;
      }

      .reserve {

        background-color: @primaryDarkBlue;
        a {
          color: white;
        }
      }
      .buy {

        background-color: @primaryLightBlue;
        a {
          color: white;
        }
      }

      .wide {
        text-align: left;

        h4 {

          margin-left: 10px;
          height: 3rem;

        }

        p {
          padding: 1rem;
          float: left;

          &.description {
            float: none;
            text-align: left;
            width: 100%;
            overflow: auto;
          }
        }

      }
    }


    .images {
      height: 50%;
      overflow: hidden;


      iframe {
        width: 100%;
        height: 100%;
      }

      & > a {
        height: 160px;
        display: flex;
        align-items: center;
      }

      img {
        width: 100%;
      }




      .image-swap {
        display: none;
        opacity: 0;
        position: absolute;
        transition: all .5s;

        &:hover {
          opacity: 1;
          transition: all .5s;
        }
      }
    }

    &.big {
      .images {
        .image-swap {
          position: relative;
          left: -100%;
        }
      }
    }
  }

  .promo-line {
    text-align: center;
    padding: 8rem 10rem;
    color: white;

    h4 {
      margin: 4rem;
    }
    h5 {
      font-size: 1.7rem;
      margin: 2rem;
    }

    .round-icon {
      margin: 0 auto;
      font-size: 3rem;
      width: 9rem;
      padding: 2rem;
      color: white;
      background-color: @primaryOrange;
      border: 2px solid @primaryOrange;
      border-radius: 9rem;
    }

    @media (max-width: @sm) {
      padding: 2rem;
    }
  }

  .categories-line {
    text-align: center;
    padding: 3rem;

    .col-md-3 {
      div {
        margin: 1rem;
        border: 1px solid black;
        transition: all .5s;

        &:hover {
          box-shadow: 0 15px 40px grey;
          transition: all .5s;
          transform: translateY(-4px);
        }
      }
    }
  }

  .category-border {

    border-color: #00000020;
    border-style: solid;
    border-width: 1px;
  }

  // category page
  .category {
    background-size: cover;
    background-repeat: no-repeat;

    h1 {
      text-align: center;
      padding: 1rem 0 2rem;
      font-size: 3rem;
    }

    h2 {
      text-align: center;
      padding: 5rem 0 3rem;
    }

    .description {
      text-align: center;
      padding: 2rem 0;

      p {
        margin: 0;
      }
    }

    .filter {

      .tab {
        padding: 1.8rem 2rem;
        text-align: center;
        margin-top: 0.4rem;

        a {
          font-size: 1.7rem;
          color: grey;
        }

        &.active {
          background-color: @primaryDarkBlue;
          margin: 0;
          padding: 2rem;

          a {

            color: white;
          }

        }
      }

      .buttons {
        p, a {
          padding: 2rem 1rem;
          float: right;
          margin: 0;
        }

        a {
          padding: 1.7rem 1rem 1rem;
          font-size: 2rem;
        }
      }
    }

    .content {
      background-color: white;
      padding: 2rem;
      box-shadow: 0 1px 5px grey;

      @media (max-width: 1200px) {
        margin: auto;
      }

      & > div {
        padding-left: 10px;
        padding-right: 10px;

      }
    }

    .pagination {
      margin: 0 0 1rem -15px;

      .active {
        a {
          background-color: @primaryDarkBlue;
          font-weight: bold;
          color: white;
        }
      }

      a {
        border-radius: 0;
        //padding: 10px 20px;
        background-color: white;
        font-size: 1.7rem;
        color: @primaryDarkBlue;
      }
    }
  }



  .carousel-cell {
    width: 90%;
    height: 300px;
    margin-right: 10px;
    background: rgba(10, 119, 169, 0.30);
    border-radius: 5px;
    background-position: center center;
    background-size: cover;
  }

  .carousel-cell {
    margin-right: 20px;
    overflow: hidden;
  }


  .video {
    height: 200px;
    width: 80vw;
  }



  @media screen and ( min-width: 768px ) {
    .carousel-cell {
      height: 500px;
    }

    .video {

      height: 500px;
      width: 50vw;

    }

    .parralaxGallery {

      padding: 40px;



    }

    .flickity-button{
      background: white;

      &:hover{
        transition: ease 0.5s;
        background: @primaryDarkBlue;

      }
    }
  }





  // product page
  .product {

    padding-bottom: 20px;
    .gallery {
      .thumbnails {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 500px;
        overflow: auto;
        margin-top: 2rem;

        @media (max-width: @sm) {
          height: auto;
        }

        .row div {
          padding: 0 1rem;
        }
      }

      .main-container {
        display: flex;
        justify-content: center;
        flex-direction: column;
        height: 500px;

        @media (max-width: @sm) {
          height: auto;
        }

        iframe {
          height: 100%;
          width: 100%;
        }
      }

      img {
        display: block;
        max-width: 90%;
        max-height: 100%;
        width: auto;
        height: auto;
        margin: 1rem;
        transition: all .4s;
        transform: translateY(0) scale(1, 1);

        &:hover {
          box-shadow: 0 1px 20px grey;
          transition: all .4s;
          transform: scale(1.1, 1.1);
        }

        &.main {
          display: block;
          max-height: 500px;
          max-width: 100%;
          height: auto;
          width: auto;

          margin: 1rem auto;

          &:hover {
            transform: scale(1, 1);
          }
        }
      }
    }

    .main-data {
      padding-top: 2rem;

      h1 {
        font-size: 3rem;
      }

      .price-dph {
        margin-top: 3rem;
        font-size: 2rem;
        font-weight: bold;
      }

      .actions {
        margin-top: 2rem;

        .col-md-4 {
          transition: all .5s;
          transform: scale(1, 1);
          z-index: 1;

          &:hover {
            transition: all .5s;
            transform: scale(1.2, 1.2);
            z-index: 2;
          }
        }

        a, p {
          padding: 2rem;
          display: block;
          text-align: center;
          font-size: 1.6rem;
        }

        .reserve {
          background-color: @brightYellow;
          a {
            color: white;
          }
        }
        .buy {
          background-color: @primaryDarkBlue;
          a {
            color: white;
          }
        }
        .not-sold {
          background-color: @primaryRed;
          p {
            color: white;
            margin: 0;
          }
        }

        @media (max-width: @md) {
          margin-left: -15px;
        }
      }

      .availability {
        margin-top: 3rem;
        padding: 2rem;
        background-color: @primaryDarkBlue;

        label, & > p {
          color: white;
        }

        & > p {
          font-weight: bold;
        }

        .alert {
          margin: 1rem 0 0;
        }
      }
    }

    .nav-tabs {
      margin-top: 4rem;
      padding: 0;
      border: none;

      li {
        display: block;

        a {
          background-color: @primaryOrange;
          float: left;
          border: none;
          border-radius: 0;
          color: white;

          padding: 2rem;
          margin: 0.8rem 0 0;

          transition: all .3s;

          &.active, &:hover {
            transition: all .3s;
            padding: 2.4rem 2rem;
            margin: 0;
          }
        }

        &.active a {
          //background-color: @primaryDarkBlue;
          transition: all .3s;
          padding: 2.4rem 2rem;
          margin: 0;
        }
      }
    }

    .product-info {
      //background-color: @primaryDarkBlue;
      color: @primaryDarkBlue;

      p, span, div, strong, ul, li, h1, h2, h3, h4, h5, h6 {
        font-family: 'Comfortaa', cursive !important;

        &[class^='ti-'] {
          font-family: 'themify' !important;
        }
      }

      .info-block {
        padding: 4rem;

        .title {
          border-bottom: 2px solid @primaryDarkBlue;
        }

        ul {
          column-count: 2;
          column-gap: 3rem;
          list-style-position: outside;

          @media (max-width: @sm) {
            column-count: 1;
          }

          &.product-additions {
            font-size: 1.5rem;

            a {
              margin: 0.5rem;

              span {
                font-family: 'themify' !important;
              }
            }
          }
        }
      }
    }

    .interests-row {
      @media (max-width: @sm) {
        margin: 0;
      }
    }

    .interest {
      font-size: 2rem;
      font-weight: bold;
      margin: 2rem;
      border-bottom: 2px solid @primaryDarkBlue;
    }

    .next-interest {
      a {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 45rem;
        text-decoration: none;

        &:hover p {
          transition: all .3s;
          transform: scale(1.5, 1.5);
        }

        p {
          font-size: 7rem;
          font-weight: bold;
          transition: all .3s;
          transform: scale(1, 1);
        }
      }
    }
  }

  // customer administration
  .customer {
    .row {
      margin: 0;
    }

    .login {
      padding: 10rem 20rem;

      .login-form {
        background-color: rgba(10, 119, 169, 1.0);
        padding: 3rem;
        box-shadow: 0 5px 20px grey;
        color: white;

        input[type=submit], button {
          background-color: @primaryOrange;
          border-radius: 0;
          border: none;
        }
      }

      .forgotten-password {
        text-align: center;
        margin-top: 2rem;
      }

      @media (max-width: @lg) {
        padding: 2rem 10rem;
      }
      @media (max-width: @sm) {
        padding: 2rem;
      }
    }

    .register {
      padding: 10rem 10rem;

      .register-container {
        background-color: rgba(10, 119, 169, 1.0);
        padding: 3rem;
        box-shadow: 0 5px 20px grey;
        color: white;

        .grecaptcha-badge {
          transition: none;
          right: 3rem !important;

          &:hover {
            right: 3rem !important;
          }
        }
      }

      @media (max-width: @lg) {
        padding: 2rem 10rem;
      }
      @media (max-width: @sm) {
        padding: 2rem;
      }
    }

    input[type=submit], button {
      background-color: @primaryOrange;
      color: white;
      border-radius: 0;
      border: none;
      padding: 1rem 2rem;
      margin: 1rem 0;
    }
  }

  @color_1: #fff;
  @background_color_1: black;

  .tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
    .tooltiptext {
      visibility: hidden;
      width: 120px;
      background-color: @background_color_1;
      color: @color_1;
      text-align: center;
      border-radius: 6px;
      padding: 5px 0;
      position: absolute;
      z-index: 1;
    }
    &:hover {
      .tooltiptext {
        visibility: visible;
      }
    }
  }

  .panel {
    margin-bottom: 0;
    padding-bottom: 20px;
  }

  // customer panel
  .panel, .order {
    border: none;
    box-shadow: none;

    [class*="col-"] {
      padding: 0;
    }

    .box {

      overflow: auto;
      margin: 2rem 2rem 0;
      padding: 2rem;
      box-shadow: 0 2px 10px #ccc;

      &.with-top {
        padding: 0 0 2rem;
      }

      &.top-offset {
        margin: 15rem 2rem 0;
      }

      &.light-blue {
        background-color: @primaryLightBlue;
        font-weight: bold;
        color: white;
      }

      &.bright-red {
        background-color: @primaryRed;
        font-weight: bold;
        color: white;
      }

      &.light-green {
        background-color: @green;
        color: white;
      }

      .top {
        margin: 0;
        padding: 1rem 2rem;
        color: white;
      }

      .top-red {
        background-color: @primaryRed;
      }

      .top-blue {
        background-color: @primaryDarkBlue;
      }

      .top-light-blue {
        background-color: @primaryLightBlue;
      }

      .top-kaky {
        background-color: @kaky;
      }

      .content {
        padding: 2rem;
      }
    }
  }

  .order-list {
    .box {
      //because not working on computer devices
     // display: flex;
     // align-items: center;
     // justify-content: space-between;
    }

    p {
      margin: 0;
    }
  }

  .cart {
    h2 {
      background-color: @primaryDarkBlue;
      color: white;
      margin: 0;
      padding: 0.2rem;
    }
    h3 {
      background-color: @primaryLightBlue;
      color: white;
      margin: 0;
      //padding: 2rem;
    }
    h4 {
      padding: 2rem 0;
    }
    .top h4 {
      padding: 0;
    }

    input, span {
      border-radius: 0;
    }

    input[type=number] {
      padding-right: 0;
      min-width: 20px;
      max-width: 50px;
    }

    .title {
      div {
        padding: 4rem 1rem 0;
        border-bottom: 2px solid @primaryOrange;
      }
    }

    .admin-cart-list {
      margin: 0;

      .ti-plus {
        border: 1px solid;
        border-color: @primaryDarkBlue;
        padding: 10px;
        border-radius: 20px;
        background-color: @primaryDarkBlue;
        color: white
      }

      & > div {
        padding: 2rem;

        @media (max-width: @sm) {
          padding: 2rem 0;
        }

        & > div {
          //width: 100%;
          text-align: center;
          display: flex;
          align-items: center;
          justify-content: space-between;
          flex-direction: row;

          & > div {
            @media (max-width: @sm) {
              padding: 2px;
            }
          }
        }
      }

      .header {
        border-bottom: 1px solid @primaryOrange;

        p {
          font-size: 1.4rem;
        }

        div {
          padding: 2px;
        }
      }

      & > div:last-of-type {
        border-bottom: 2px solid @primaryOrange;
      }

      img {
        max-height: 150px;
        max-width: 150px;
        height: auto;
        width: auto;

        @media (max-width: @sm) {
          display: none;
        }
      }

      p {
        font-size: 1.7rem;
        margin: 0;
      }

      hr {
        margin: 0;
        border-top: 1px solid @primaryOrange;
      }

      a.back-to-shop {
        background-color: @primaryDarkBlue;
        padding: 1rem;
        display: inline-block;
        color: white;
      }

      .top-border {
        border-top: 1px solid @primaryOrange;
      }

      .term-info {
        padding: 1rem;
        p {
          font-size: 1.5rem;
        }
      }

      .ti-close {
        border: 1px solid @primaryOrange;
        padding: 5px;
        border-radius: 15px;
        background-color: @primaryOrange;
        color: white;
      }
    }

    .date-container {

      .date-title {
        background-color: @primaryOrange;
        color: white;
        padding: 5px 0;
        text-align: center;
      }

      .date-content {
        background-color: @primaryDarkBlue;
        color: white;
        padding: 3rem;
        margin-bottom: 1rem;
        z-index: 10;

        .date-result {
          text-align: right;
          font-weight: bold;
          padding: 1rem;
        }
      }

      .cart-datetimepicker {
        color: black;
      }

      .add-date p, .remove-date p {
        color: white;
        padding: 1rem;
        text-align: center;
        cursor: pointer;
      }

      .add-date p {
        background-color: @kaky;
      }

      .remove-date p {
        background-color: @primaryRed;
      }
    }

    .price-container {
      text-align: right;

      .green {
        margin-top: -2rem;
        margin-bottom: 2rem;
        display: block;
      }

      p {
        font-size: 1.7rem;
        &.final-price {
          font-size: 2.2rem;
          padding: 1rem 0;
        }
      }
    }

    .buttons {
      text-align: right;
      padding-top: 3rem;
      .btn {
        border-radius: 0;
        font-size: 1.7rem;
        padding: 2rem;
        white-space: inherit;
      }
    }

    .alert .inner {
      white-space: normal !important;
    }
  }

.checkbox{
  margin-top: 0px;
}

  .order {
    input[type=submit], button {
      background-color: @primaryDarkBlue;
      color: white;
      border-radius: 0;
      border: none;
      padding: 1rem 2rem;
      margin: 1rem 0;
    }

    .venue-result, .payment-type, .payment {
      font-size: 1.7rem;

      p, .radio {
        padding: 2rem 2rem 0;

        &.venue-price {
          font-size: 1.8rem;
        }

        span {
          font-weight: bold;
        }
      }
    }

    .customer-note {
      textarea {
        margin: 1rem 0;
      }
    }

    .price-container {
      padding: 4rem;
    }

    .buttons {
      text-align: center;
      padding-bottom: 4rem;
    }

    .agreements {
      padding: 2rem;
      font-size: 1.7rem;
      font-weight: bold;
    }
  }

  .order-detail {
    .title {
      div {
        padding: 2rem 1rem 0;
      }
    }

    h3 {
      padding: 2rem 0;
      background-color: transparent;
      color: black;
    }
  }

  #price-list {
    margin: 3rem 0;
    font-size: 1.8rem;

    span {
      background-color: @secondaryDarkBlue;
      color: white;
      border-radius: 20px;
      padding: 5px;
    }

    li {
      margin: 1rem;

      p {
        font-size: 1.6rem;
      }
    }
  }

  &.photo-gallery {

    .gallery-container {
      padding: 0;
      margin: 0;
    }

    .gallery-frame {
      width: 100vw;
      height: 100vh;
      border: none;
      margin-bottom: -6px;
    }
  }

  .blog-list {
    h1 {
      text-align: center;
    }

    h2 {
      font-size: 1.6rem;
    }

    h3 {
      text-align: center;
    }

    p {
      text-align: justify;
    }

    hr {
      border-top: 2px solid @primaryDarkBlue;
    }

    .col-md-4 {
      min-height: 170px;
    }

    img {
      width: 100%;
      height: auto;
      padding: 10px;
      margin: 0 auto !important;
    }
  }

  .blog-post {
    .back {
      padding: 5px;
      display: block;
    }

    img {
      margin: 10px;
    }

    img.alignright {
      float: right;
    }

    img.alignleft {
      float: left;
    }
  }
}

//Admin login screen
.block-wrap {
  width: 320px;
  margin: 0 auto;

  min-height: 100%; /* Fallback for browsers do NOT support vh unit */
  min-height: 100vh; /* These two lines are counted as one :-)       */

  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;

  header, footer {
    margin: 30px 0;

    h1 {
      font-size: 2.2em;
    }

  }

  & > div {
    color: white;
    padding: 40px 20px;
    background-color: @secondaryDarkBlue;
    box-shadow: 0 0 5px grey;
  }

  input[type=submit] {
    background-color: @primaryLightBlue;
  }
}

//Administration
#admin {
  background-color: #efefef;

  .container-fluid {

    margin-left: 54px;

  }

  [class*="col-"] {
    padding-top: 1.2rem;
    padding-right: 1.2rem;
    padding-left: 1.2rem;
  }

  .box {

      @media (max-width: 1400px){
        overflow: auto;

      }

    box-shadow: 0 1px 2px #ccc;
    background-color: white;
    padding: 5px;

    &.light-red {
      background-color: @lightRed;
    }

    &.light-yellow {
      background-color: @lightYellow;
    }

    &.light-green {
      background-color: @lightGreen;
    }

    &.light-blue {
      background-color: @primaryLightBlue;
      color: white;
    }
  }

  .navbar {
    //padding: 5px 10px;
    margin-bottom: 0px;

  }

  .product-name {
    text-align: left;
    font-size: 15px;

  }

  .admin-grid-header {
    .col-md-4 {
      padding-left: 0;

      .box {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 139px;

      }
    }
    .first {
      padding-left: 1.2rem;
    }
  }

  .admin-grid {
    [class*="col-"] {
      padding-left: 0;

      .box {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 290px;

        .product-visible {
          position: absolute;
          top: 2.2rem;
          left: 1.2rem;
        }
        .product-image {
          position: absolute;
          top: 2.2rem;
          left: 8rem;
        }
        .product-addition {
          position: absolute;
          top: 2.2rem;
          left: 12rem;
        }
      }
    }
    .first {
      padding-left: 1.2rem;

      .box {
        height: auto;
        display: block;
      }
    }
    .first-box {
      padding-left: 1.2rem;
    }
    .product-detail {
      .row {
        width: 100%;
      }
    }

    form {
      [class*="col-"] {
        padding: 1.2rem 2rem;
      }

      .additions {
        padding: 1rem;
      }
    }
  }

  .admin-table {
    .row:not(.table-ignore) {
      display: flex;
      justify-content: center;
      align-content: center;
      margin-left: 10px;

      [class*="col-"] {
        margin: 0;
        padding: 0;

        h4, p {
          margin: 0;
          padding: 0;
          line-height: 40px;
        }
      }
    }
    .product-detail {
      .box {
        .product-visible {
          position: absolute;
          top: 2.2rem;
          left: 2.2rem;
        }
      }
    }
    form {
      [class*="col-"] {
        padding: 1.2rem 2rem;
      }
    }
  }

  .image-container {
    min-height: 6rem;
    border: 2px dashed @secondaryYellow;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;

    .single-image {
      margin: 0.5rem;
      width: 17.5rem;
      min-height: 20rem;
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;

      &.filled {
        padding: 0.5rem;
        box-shadow: 0 2px 5px grey;
      }

      input[type="file"] {
        display: none;
      }

      .file-upload {
        display: inline-block;
        padding: 6px 12px;
        cursor: pointer;
        text-align: center;
        background-color: @primaryDarkBlueWithTransparency;
        color: white;
        transition: all .3s;

        &:hover {
          box-shadow: 0 2px 15px grey;
          transition: all .3s;
        }
      }

      input[type="text"] {
        margin: 1rem;
      }

      img {
        max-width: 15.5rem;
        max-height: 16rem;
        width: auto;
        height: auto;
      }
    }
  }

  &.order-management {
    .box {
      .row {
        display: flex;
        align-items: baseline;
      }
    }
  }

  &.order-detail {
    .box {
      &.light-blue {
        background-color: @primaryLightBlue;
        font-weight: bold;
        color: white;
      }

      &.bright-red {
        background-color: @primaryRed;
        font-weight: bold;
        color: white;
      }

      &.light-green {
        background-color: @green;
        color: white;
      }
    }

    .admin-cart-list {
      .row {
        display: flex;
        align-items: center;
      }

      div {
        div {
          text-align: center;
        }
      }

      & > div:last-of-type {
        border-bottom: 2px solid @primaryOrange;
      }

      .header {
        border-bottom: 1px solid @primaryOrange;
      }

      img {
        max-height: 150px;
        max-width: 150px;
        height: auto;
        width: auto;
      }
    }

    .price-container {
      text-align: right;
    }

    .title div {
      border-bottom: 2px solid @primaryOrange;
    }

    .row {
      .btn {
        width: 100%;
        border-radius: 0;
        padding: 2rem;
        white-space: normal;
      }
    }
    .toggle {
      .btn {
        width: initial;
        padding: 12px 5px;
      }
    }
  }

  #category-list {
    display: flex;
    justify-content: center;

    & > ul {
      min-width: 40%;
    }

    ul {
      li {
        display: block;
        font-size: 2rem;

        div {
          overflow: auto;

          p {
            float: left;
            margin: 1rem;
          }

          button {
            float: right;
            margin: 0.5rem;
          }
        }

        &.new-category {
          border: 1px solid black;
          padding: 1rem;
          margin: 1rem;
          text-align: center;
          font-size: 1.8rem;
          transition: all .5s;

          &:hover {
            box-shadow: 0 15px 40px grey;
            transition: all .5s;
            transform: translateY(-4px);
            cursor: pointer;
          }

          p {
            margin: 0;
          }

          form input[type=text] {
            margin: 1rem 0;
          }
        }
      }
    }
  }

  #category-product-position-list {
    li {
      display: block;
      font-size: 1.7rem;
      margin: 1rem 0;
    }
  }

  #category-selects, #price-included-inputs, #technical-inputs, #additions-selects {
    padding: 0;

    li {
      display: block;
    }
  }

  .options-container {
    .col-md-3 {
      min-height: 140px;
    }
  }

  .legend {
    display: flex;
    flex-direction: column;

    p {
      margin: 1rem;
    }

    .order, .reservation {
      #admin.calendar .calendar-grid .calendar-day .order;
    }
  }

  &.calendar {

    .calendar-view {
      display: flex;
      flex-direction: column;
      padding: 0 18px;
    }

    .calendar-data {
      flex: 1;
    }

    .calendar-grid-container {
      height: 100%;
    }

    .calendar-header {
      display: flex;
      flex-direction: row;
      align-items: center;
      min-height: 73px;

      h2 {
        margin: 0;
      }
    }

    .small-calendar-header {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
    }

    .small-calendar-grid {
      padding: 1rem;
      display: grid;

      .highlighted {
        background-color: darkgrey;
        color: white;
        border-radius: 1rem;
      }

      .today {
        background-color: @primaryRed;
        color: white;
        border-radius: 1rem;
      }

      a {
        text-align: center;

        &:hover {
          cursor: pointer;
          background-color: @primaryDarkBlue;
          color: white;
          border-radius: 1rem;
        }
      }
    }

    .calendar-grid {
      background-color: whitesmoke;
      display: grid;
      height: 100%;

      .calendar-day {
        border: 1px solid grey;
        overflow: auto;

        .day-header {
          padding: 0.5rem 2rem;
          border-bottom: 1px solid black;
          overflow: auto;

          p, h3 {
            margin: 0.5rem;
          }

          h3 {
            float: left;
          }

          span {
            float: right;
            margin: 1rem 0;
          }
        }

        .order, .reservation {
          margin: 0.5rem;
          padding: 0.5rem;
          box-shadow: 0 2px 10px grey;
          transition: all .3s;

          &:hover {
            transition: all .3s;
            transform: translateY(-2px);
            box-shadow: 0 5px 20px grey;
          }

          &.unpaid {
            background-color: @unpaidOrder;
            color: white;
          }

          &.cancelled {
            background-color: @canceledOrder;
            color: white;
          }

          &.confirmed {
            background-color: @reviewedOrder;
            color: white;
          }

          &.sentInvoice {
            background-color: @sentInvoiceOrder;
            color: white;
          }

          &.finished {
            background-color: @finishedOrder;
            color: white;
          }

          &.reserv {
            background-color: @reservation;
            color: black;
          }

          .time {
            font-weight: bold;
          }
        }
      }
    }

    .current-month, .small-current-month {
      text-transform: capitalize;
    }
  }

  .overflow-visible {
    overflow: visible;
  }

  .small-label {
    font-size: 1.1rem;
  }

  .customer {
    #public .order;
  }

  iframe {
    width: 100%;
    height: calc(~"100% - 62px");
    height: calc(~"100vh - 62px");
    padding: 0 !important;
    border: none;
  }
}

.request-change-order {
  background-color: @reservation;
  transition: all .25s ease;
  .ti-envelope {
    padding: 0 5px;
  }
  &:hover {
    background-color: #bb954b;
  }
}

.martop {
  margin-top: 10px;
}

.marright {
  margin-right: 5px;
}

.color-red {
  color: red;
  padding: 5px;
}

.color-green {
  color: green;
  padding: 5px;
}

.color-orange {
  color: orange;
  padding: 5px;
}

//MEDIA QUERY

@media (min-width: 1270px) {

  .marrig {
    margin-right: 5px;
  }

}

.menus {
  width: 100px !important;
  color: @primaryDarkBlue;
}

.menus2 {
  width: 100px !important;
}


//Bootstrap collapsible menu
@media (max-width: 1270px) {
  .navbar-nav {
    float: none !important;
    margin: 0;
  }

  .modal-footer {
    .btn {
      margin-left: 0 !important;
    }
  }

  .cancel-order {
    margin: 10px 0px;
  }

  .order-delete-agree, .order-delete-agree {
    width: 100%;
  }

  .navbar {
    position: static !important;
  }

  .paddingZero {
    padding: 0 !important;
  }

  .paddingtop70 {
    padding: 5px;
  }

  .navbar-nav .open .dropdown-menu {
    position: static;
    float: none;
    width: auto;
    margin-top: 0;
    background-color: transparent;
    border: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    overflow: hidden;
  }

  .sidebar {
    margin-top: 0;
    width: 250px;
    background-color: @primaryDarkBlue;
    height: 100%;
    position: fixed;
    left: 0;
    top: 70px;
    z-index: 9;

    div {
      height: 100%;
      overflow: hidden;
    }

    ul {
      padding: 0;
      height: 100%;

      li {
        width: 240px;
        font-size: 1.6em;
        padding: 10px 0;
        font-weight: lighter;

        &.current {
          background-color: @primaryDarkBlue;
        }

        span {
          width: 30px;
          height: 30px;
          margin: 0 16px;
        }
      }

      a {
        color: white;
      }
    }
  }

  .menus {
    margin: auto;
    width: 80vw !important;
  }

  .menus2 {
    margin: auto;
    width: 80vw !important;
  }

  .nav {

    li {
      a {

        display: flex;
        justify-content: center;
      }

    }

  }

  .dropdown-menu {

    left: 25vw;
    right: 25vw;

  }



  .navbar-header {
    float: none;
    margin-left: -10px !important;
    margin-right: -10px !important;

  }

  .navbar-left, .navbar-right {
    float: none !important;
  }

  .navbar-toggle {
    display: block;
    &:hover {
      color: #0a77a9 !important;
      background-color: initial !important;
    }
  }

  .navbar-collapse {
    border-top: 1px solid transparent;
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
    z-index: 99999;
    margin-left: 0!important;
    margin-right: 0!important;
  }

  .navbar-fixed-top {
    top: 0;
    border-width: 0 0 1px;
  }

  .navbar-collapse.collapse {
    display: none !important;
  }

  .navbar-nav > li {
    float: none;
  }

  .navbar-nav > li > a {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .collapse.in {
    display: block !important;
  }
}








.carousel-celll {
  width: 25%;

}

@media (max-width: 1200px) {

  .carousel-celll {
    width: 40%;

  }
}

@media (max-width: 767px) {

  .carousel-celll {
    width: 70%;

  }
}

@media (max-width: 420px) {

  .carousel-celll {
    width: 90%;

  }
}

.cart {
  .row {

    //this been -5px for each. May work.
    margin-left: 0px !important;
    margin-right: 0px !important;
  }
}
@media (max-width: 760px) {
  #conte {
    margin-left: 54px !important;
    display: block !important;
  }

  .date-container {
    h4 {
      font-size: 20px;
    }
  }

  .toggle {
    width: 100% !important;
    .toggle-on {
      z-index: 99;
    }
    .toggle-on.btn {
      padding-right: 50%;
    }
    .toggle-off.btn {
      padding-right: 50%;
    }
    .toggle-off {
      z-index: 99;
    }
  }

  .cart {
    .row {

      //this been -5px for each. May work.
      //margin-left: -5px !important;
      //margin-right: -5px !important;
    }
    h4 {
      padding: 2rem 2rem !important;
    }
    h3 {
      font-size: 20px !important;
    }
    h2 {
      font-size: 25px !important;
    }
  }

@media (max-width: 768px){

  .modal-wrap{
    margin-left: 65px;
  }
}



  .overflow-auto {
    overflow: auto;
  }

  .modal-footer {
    .btn {
      margin-left: 0 !important;
    }
  }

  .btn {
    width: 100%;
  }

  .account-data-content-grid {
    .grid-item {
      width: 100%;
    }
  }

  .productNameParagraph {
    overflow: hidden;
    white-space: nowrap;
    max-width: 70px;
    text-overflow: ellipsis;
    a {
      font-size: .7em;
    }
  }




  .sidebar {
    margin-top: 0;
    width: 250px;
    background-color: @primaryDarkBlue;
    height: 100%;
    position: fixed;
    left: 0;
    top: 70px;
    z-index: 99999;

    div {
      height: 100%;
      overflow: hidden;
    }

    ul {
      padding: 0;
      height: 100%;

      li {
        width: 240px;
        font-size: 1.6em;
        padding: 10px 0;
        font-weight: lighter;

        &.current {
          background-color: @primaryDarkBlue;
        }

        span {
          width: 30px;
          height: 30px;
          margin: 0 16px;
        }
      }

      a {
        color: white;
      }
    }
  }
}

.centrov {
  display: flex !important;
  justify-content: center;
}

#sticky-wrap {
  display: none;
  font-size: 2.5rem;
  height: 60px;
  width: 50px;
  position: fixed;
  bottom: 60px;
  right: 20px;
  z-index: 999999999;

  a {
    text-decoration: none !important;
    outline: none !important;
  }
}

#sticky-wrap.stickyhead {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 30px;
  right: 45px;
  z-index: 99999;
  border-radius: 500px;
  border: 4px solid black;
  opacity: 0.7;
  transition: all .5s ease;
  &:hover {
    border-color: white;
    background-color: black;
    .up {

      color: white;

    }
  }
}

.ti-angle-up {
  //font-size: 2em;
  color: black;
  transition: all .5s ease;
}


.pswp__caption__center {text-align: center;}
figure {
  display: inline-block;
  //width: 33.333%;
  float: left;
}
.spacer {height: 5em;}

/*@-webkit-keyframes passing-through { 0% { opacity: 0; -webkit-transform: translateY(40px); -moz-transform: translateY(40px); -ms-transform: translateY(40px); -o-transform: translateY(40px); transform: translateY(40px); }
  30%, 70% { opacity: 1; -webkit-transform: translateY(0px); -moz-transform: translateY(0px); -ms-transform: translateY(0px); -o-transform: translateY(0px); transform: translateY(0px); }
  100% { opacity: 0; -webkit-transform: translateY(-40px); -moz-transform: translateY(-40px); -ms-transform: translateY(-40px); -o-transform: translateY(-40px); transform: translateY(-40px); } }
@-moz-keyframes passing-through { 0% { opacity: 0; -webkit-transform: translateY(40px); -moz-transform: translateY(40px); -ms-transform: translateY(40px); -o-transform: translateY(40px); transform: translateY(40px); }
  30%, 70% { opacity: 1; -webkit-transform: translateY(0px); -moz-transform: translateY(0px); -ms-transform: translateY(0px); -o-transform: translateY(0px); transform: translateY(0px); }
  100% { opacity: 0; -webkit-transform: translateY(-40px); -moz-transform: translateY(-40px); -ms-transform: translateY(-40px); -o-transform: translateY(-40px); transform: translateY(-40px); } }
@keyframes passing-through { 0% { opacity: 0; -webkit-transform: translateY(40px); -moz-transform: translateY(40px); -ms-transform: translateY(40px); -o-transform: translateY(40px); transform: translateY(40px); }
  30%, 70% { opacity: 1; -webkit-transform: translateY(0px); -moz-transform: translateY(0px); -ms-transform: translateY(0px); -o-transform: translateY(0px); transform: translateY(0px); }
  100% { opacity: 0; -webkit-transform: translateY(-40px); -moz-transform: translateY(-40px); -ms-transform: translateY(-40px); -o-transform: translateY(-40px); transform: translateY(-40px); } }
@-webkit-keyframes slide-in { 0% { opacity: 0; -webkit-transform: translateY(40px); -moz-transform: translateY(40px); -ms-transform: translateY(40px); -o-transform: translateY(40px); transform: translateY(40px); }
  30% { opacity: 1; -webkit-transform: translateY(0px); -moz-transform: translateY(0px); -ms-transform: translateY(0px); -o-transform: translateY(0px); transform: translateY(0px); } }
@-moz-keyframes slide-in { 0% { opacity: 0; -webkit-transform: translateY(40px); -moz-transform: translateY(40px); -ms-transform: translateY(40px); -o-transform: translateY(40px); transform: translateY(40px); }
  30% { opacity: 1; -webkit-transform: translateY(0px); -moz-transform: translateY(0px); -ms-transform: translateY(0px); -o-transform: translateY(0px); transform: translateY(0px); } }
@keyframes slide-in { 0% { opacity: 0; -webkit-transform: translateY(40px); -moz-transform: translateY(40px); -ms-transform: translateY(40px); -o-transform: translateY(40px); transform: translateY(40px); }
  30% { opacity: 1; -webkit-transform: translateY(0px); -moz-transform: translateY(0px); -ms-transform: translateY(0px); -o-transform: translateY(0px); transform: translateY(0px); } }
@-webkit-keyframes pulse { 0% { -webkit-transform: scale(1); -moz-transform: scale(1); -ms-transform: scale(1); -o-transform: scale(1); transform: scale(1); }
  10% { -webkit-transform: scale(1.1); -moz-transform: scale(1.1); -ms-transform: scale(1.1); -o-transform: scale(1.1); transform: scale(1.1); }
  20% { -webkit-transform: scale(1); -moz-transform: scale(1); -ms-transform: scale(1); -o-transform: scale(1); transform: scale(1); } }
@-moz-keyframes pulse { 0% { -webkit-transform: scale(1); -moz-transform: scale(1); -ms-transform: scale(1); -o-transform: scale(1); transform: scale(1); }
  10% { -webkit-transform: scale(1.1); -moz-transform: scale(1.1); -ms-transform: scale(1.1); -o-transform: scale(1.1); transform: scale(1.1); }
  20% { -webkit-transform: scale(1); -moz-transform: scale(1); -ms-transform: scale(1); -o-transform: scale(1); transform: scale(1); } }
@keyframes pulse { 0% { -webkit-transform: scale(1); -moz-transform: scale(1); -ms-transform: scale(1); -o-transform: scale(1); transform: scale(1); }
  10% { -webkit-transform: scale(1.1); -moz-transform: scale(1.1); -ms-transform: scale(1.1); -o-transform: scale(1.1); transform: scale(1.1); }
  20% { -webkit-transform: scale(1); -moz-transform: scale(1); -ms-transform: scale(1); -o-transform: scale(1); transform: scale(1); } }
.dropzone, .dropzone * { box-sizing: border-box; }*/

@color_1: rgba(0, 0, 0, 0.9);
@color_2: white;
@background_color_1: rgba(255, 255, 255, 0.8);
@background_color_2: rgba(255, 255, 255, 0.4);

/*
.dropzone.dz-clickable {
  cursor: pointer;
  * {
    cursor: default;
  }
  .dz-message {
    cursor: pointer;
    * {
      cursor: pointer;
    }
  }
}
.dropzone.dz-started {
  .dz-message {
    display: none;
  }
}
.dropzone.dz-drag-hover {
  border-style: solid;
  .dz-message {
    opacity: 0.5;
  }
}
.dropzone {
  min-height: 150px;
  border: 2px dashed dodgerblue;
  background-color: #EFEFEF;

  &#category-mini, &#category-page {
    width: 160px;

    p {
      padding: 15px 0;
    }
  }

  .dz-message {
    text-align: center;
    margin: 2em 0;
  }
  .dz-preview {
    position: relative;
    display: inline-block;
    vertical-align: top;
    margin: 16px;
    min-height: 100px;
    &:hover {
      z-index: 1000;
      .dz-details {
        opacity: 1;
        opacity: 1;
      }
      .dz-image {
        img {
          -webkit-transform: scale(1.05, 1.05);
          -moz-transform: scale(1.05, 1.05);
          -ms-transform: scale(1.05, 1.05);
          -o-transform: scale(1.05, 1.05);
          transform: scale(1.05, 1.05);
          -webkit-filter: blur(8px);
          filter: blur(8px);
        }
      }
    }
    .dz-remove {
      font-size: 14px;
      text-align: center;
      display: block;
      cursor: pointer;
      border: none;
      &:hover {
        text-decoration: underline;
      }
    }
    .dz-details {
      z-index: 20;
      position: absolute;
      top: 0;
      left: 0;
      opacity: 0;
      font-size: 13px;
      min-width: 100%;
      max-width: 100%;
      padding: 2em 1em;
      text-align: center;
      color: @color_1;
      line-height: 150%;
      .dz-size {
        margin-bottom: 1em;
        font-size: 16px;
        span {
          background-color: @background_color_2;
          padding: 0 0.4em;
        }
      }
      .dz-filename {
        white-space: nowrap;
        &:hover {
          span {
            border: 1px solid rgba(200, 200, 200, 0.8);
            background-color: @background_color_1;
          }
        }
        &:not(:hover) {
          overflow: hidden;
          text-overflow: ellipsis;
          span {
            border: 1px solid transparent;
          }
        }
        span {
          background-color: @background_color_2;
          padding: 0 0.4em;
        }
      }
    }
    .dz-image {
      overflow: hidden;
      width: 120px;
      height: 120px;
      position: relative;
      display: block;
      z-index: 10;
      img {
        display: block;
      }
    }
    .dz-success-mark {
      pointer-events: none;
      opacity: 0;
      z-index: 500;
      position: absolute;
      display: block;
      top: 50%;
      left: 50%;
      margin-left: -27px;
      margin-top: -27px;
      svg {
        display: block;
        width: 54px;
        height: 54px;
      }
    }
    .dz-error-mark {
      pointer-events: none;
      opacity: 0;
      z-index: 500;
      position: absolute;
      display: block;
      top: 50%;
      left: 50%;
      margin-left: -27px;
      margin-top: -27px;
      svg {
        display: block;
        width: 54px;
        height: 54px;
      }
    }
    &:not(.dz-processing) {
      .dz-progress {
        -webkit-animation: pulse 6s ease infinite;
        -moz-animation: pulse 6s ease infinite;
        -ms-animation: pulse 6s ease infinite;
        -o-animation: pulse 6s ease infinite;
        animation: pulse 6s ease infinite;
      }
    }
    .dz-progress {
      opacity: 1;
      z-index: 1000;
      pointer-events: none;
      position: absolute;
      height: 16px;
      left: 50%;
      top: 50%;
      margin-top: -8px;
      width: 80px;
      margin-left: -40px;
      background: rgba(255, 255, 255, 0.9);
      -webkit-transform: scale(1);
      overflow: hidden;
      .dz-upload {
        background: #333;
        background: linear-gradient(to bottom, #666, #444);
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        width: 0;
        -webkit-transition: width 300ms ease-in-out;
        -moz-transition: width 300ms ease-in-out;
        -ms-transition: width 300ms ease-in-out;
        -o-transition: width 300ms ease-in-out;
        transition: width 300ms ease-in-out;
      }
    }
    .dz-error-message {
      pointer-events: none;
      z-index: 1000;
      position: absolute;
      display: block;
      display: none;
      opacity: 0;
      -webkit-transition: opacity 0.3s ease;
      -moz-transition: opacity 0.3s ease;
      -ms-transition: opacity 0.3s ease;
      -o-transition: opacity 0.3s ease;
      transition: opacity 0.3s ease;
      font-size: 13px;
      top: 130px;
      left: -10px;
      width: 140px;
      background: #be2626;
      background: linear-gradient(to bottom, #be2626, #a92222);
      padding: 0.5em 1.2em;
      color: @color_2;
      &:after {
        content: '';
        position: absolute;
        top: -6px;
        left: 64px;
        width: 0;
        height: 0;
        border-left: 6px solid transparent;
        border-right: 6px solid transparent;
        border-bottom: 6px solid #be2626;
      }
    }
  }
  .dz-preview.dz-file-preview {
    .dz-image {
      background: #999;
      background: linear-gradient(to bottom, #eee, #ddd);
    }
    .dz-details {
      opacity: 1;
    }
  }
  .dz-preview.dz-image-preview {
    background: white;
    .dz-details {
      -webkit-transition: opacity 0.2s linear;
      -moz-transition: opacity 0.2s linear;
      -ms-transition: opacity 0.2s linear;
      -o-transition: opacity 0.2s linear;
      transition: opacity 0.2s linear;
    }
  }
  .dz-preview.dz-success {
    .dz-success-mark {
      -webkit-animation: passing-through 3s cubic-bezier(0.77, 0, 0.175, 1);
      -moz-animation: passing-through 3s cubic-bezier(0.77, 0, 0.175, 1);
      -ms-animation: passing-through 3s cubic-bezier(0.77, 0, 0.175, 1);
      -o-animation: passing-through 3s cubic-bezier(0.77, 0, 0.175, 1);
      animation: passing-through 3s cubic-bezier(0.77, 0, 0.175, 1);
    }
  }
  .dz-preview.dz-error {
    .dz-error-mark {
      opacity: 1;
      -webkit-animation: slide-in 3s cubic-bezier(0.77, 0, 0.175, 1);
      -moz-animation: slide-in 3s cubic-bezier(0.77, 0, 0.175, 1);
      -ms-animation: slide-in 3s cubic-bezier(0.77, 0, 0.175, 1);
      -o-animation: slide-in 3s cubic-bezier(0.77, 0, 0.175, 1);
      animation: slide-in 3s cubic-bezier(0.77, 0, 0.175, 1);
    }
    .dz-error-message {
      display: block;
    }
    &:hover {
      .dz-error-message {
        opacity: 1;
        pointer-events: auto;
      }
    }
  }
  .dz-preview.dz-processing {
    .dz-progress {
      opacity: 1;
      -webkit-transition: all 0.2s linear;
      -moz-transition: all 0.2s linear;
      -ms-transition: all 0.2s linear;
      -o-transition: all 0.2s linear;
      transition: all 0.2s linear;
    }
  }
  .dz-preview.dz-complete {
    .dz-progress {
      opacity: 0;
      -webkit-transition: opacity 0.4s ease-in;
      -moz-transition: opacity 0.4s ease-in;
      -ms-transition: opacity 0.4s ease-in;
      -o-transition: opacity 0.4s ease-in;
      transition: opacity 0.4s ease-in;
    }
  }
}*/
