body {
  font-family: 'Comfortaa', sans-serif;
  overflow: scroll;
  color: #0a77a9;
}
a {
  color: #0a77a9;
}
a:hover {
  color: #0a77a9;
}
#invoicea:hover {
  background-color: #B0C4DE33;
  transition: background-color 0.5s ease;
}
.disabled-btn {
  border-color: rgba(88, 83, 91, 0.34);
  background-color: rgba(88, 83, 91, 0.34);
}
.disabled-btn:hover {
  border-color: rgba(88, 83, 91, 0.34);
  cursor: not-allowed;
  background-color: rgba(88, 83, 91, 0.34);
}
.alert-venue {
  display: none;
}
.display-venue-error {
  display: block;
}
input {
  line-height: 1.5 !important;
  padding: 0 12px;
}
.cart-list-counter {
  padding-left: 5px;
}
.ti-arrow-circle-down {
  margin-left: 4px;
}
.save {
  min-width: 200px;
}
.modal {
  top: 100px;
}
.divider {
  width: 85vw;
  margin-top: 20px;
  margin-bottom: 20px;
  border: 0;
  border-top: 2px solid #0078ae;
}
#public .container-fluid {
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: left bottom;
  background-image: linear-gradient(180deg, #ffffff 0%, #ffffff 30%, rgba(10, 119, 169, 0.3) 100%);
}
.ti-user {
  margin-right: 4px;
}
.ti-shopping-cart {
  margin-right: 4px;
}
.signature {
  margin-top: 20px;
  color: #0a77a9;
  margin-left: 30px;
}
.signature p {
  display: inline-block;
}
.paddingtop100 {
  padding-top: 100px;
}
.paddingtop70 {
  padding-top: 70px;
}
.alert-danger {
  color: #D6413C;
}
.form-group.required .control-label:after {
  content: "*";
  color: red;
}
.form-control {
  line-height: 3;
  color: #000000 !important;
}
.mt5 {
  margin-top: 50px;
}
.contact-overlay {
  padding: 0 30px;
}
.contact-overlay .margin-top-5 {
  margin-top: 50px;
}
.contact-overlay .margin-bottom-5 {
  margin-bottom: 50px;
}
.contact-overlay .contact-wrapper .contact-item .text-wrapper {
  padding: 15px 0;
}
.contact-overlay .contact-wrapper .contact-item .text-wrapper p {
  margin: 0;
}
.contact-overlay .contact-wrapper .contact-item .text-wrapper--small p {
  font-size: 10px;
}
.green {
  color: green;
}
.red {
  color: #F24E49;
}
.bold {
  font-weight: bold;
}
.no-margin {
  margin: 0 !important;
}
#overlay {
  position: fixed;
  /* Sit on top of the page content */
  display: none;
  /* Hidden by default */
  width: 100%;
  /* Full width (cover the whole page) */
  height: 100%;
  /* Full height (cover the whole page) */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  /* Black background with opacity */
  z-index: 10;
  /* Specify a stack order in case you're using a different order for other elements */
  cursor: pointer;
  /* Add a pointer on hover */
}
#public .sidebar {
  margin-top: 0px;
  z-index: 9;
}
.sidebar {
  transition: all 0.5s ease;
  margin-top: 60px;
  position: fixed;
  width: 250px;
  background-color: #0a77a9;
  height: calc(100% - 62px);
  height: calc(100vh - 62px);
  float: left;
  overflow: hidden;
  z-index: 99999;
}
.sidebar div {
  height: 100%;
  overflow: hidden;
}
.sidebar ul {
  padding: 0;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
}
.sidebar ul li {
  display: block;
  width: 240px;
  font-size: 1.6em;
  padding: 10px 0;
  font-weight: lighter;
}
.sidebar ul li.current {
  background-color: #0a77a9;
}
.sidebar ul li span {
  width: 30px;
  height: 30px;
  margin: 0 16px;
}
.sidebar ul a {
  color: white;
}
.imagGalerry {
  height: 85%;
  overflow: hidden;
}
.carousel-gallery {
  background-color: white;
  width: 40%;
  height: 250px;
  margin-right: 100px;
  color: #0a77a9;
  border-radius: 5px;
  text-align: center;
}
.carousel-gallery:before {
  display: block;
  text-align: center;
  line-height: 200px;
  font-size: 100px;
}
@media (max-width: 900px) {
  .carousel-gallery {
    width: 80%;
  }
}
.product-cell {
  margin-right: 20px;
  overflow: hidden;
}
.product-cell img {
  display: block;
  height: 200px;
}
.detaile {
  padding: 0px 20px;
}
.videoResponsive {
  height: 500px;
}
@media (max-width: 600px) {
  .videoResponsive {
    height: 250px;
  }
}
.carousel-tips {
  color: white;
  width: 35%;
  height: 400px;
  margin-right: 100px;
  background: #0a77a9;
  border-radius: 5px;
  text-align: center;
}
.carousel-tips:before {
  display: block;
  text-align: center;
  line-height: 200px;
  font-size: 100px;
}
@media (max-width: 600px) {
  .carousel-tips {
    width: 80%;
  }
}
.imag {
  height: 50%;
  overflow: hidden;
}
.ima {
  width: 100%;
}
/* cell number */
.carousel-celll {
  height: 400px;
  margin-right: 150px;
  background: #0a77a9;
  border-radius: 5px;
}
.carousel-celll:before {
  display: block;
  text-align: center;
  line-height: 200px;
  font-size: 100px;
}
.prvni:before {
  font-family: "Glyphicons Halflings";
  content: "\e108";
}
.druha:before {
  font-family: "Glyphicons Halflings";
  content: "\e007";
}
.treti:before {
  font-family: "Glyphicons Halflings";
  content: "\e067";
}
.ctvrta:before {
  font-family: "Glyphicons Halflings";
  content: "\e215";
}
.pata:before {
  font-family: "Glyphicons Halflings";
  content: "\e021";
}
.centrovac {
  display: flex;
  justify-content: center;
  align-items: center;
}
.modrej {
  color: #0a77a9;
}
.half {
  width: 70%;
}
.pismoVetsi {
  font-size: 2em;
}
.pismoMensi {
  font-size: 1em;
}
.kraje {
  margin-left: 50px;
  margin-right: 50px;
  margin-top: 20px;
}
.page-status,
.image-status,
.category-status,
.price-included-status,
.technical-status,
.status {
  display: none;
}
.page-status .alert,
.image-status .alert,
.category-status .alert,
.price-included-status .alert,
.technical-status .alert,
.status .alert {
  padding: 14px;
  margin-bottom: 0;
  overflow: auto;
}
.page-status .alert .inner,
.image-status .alert .inner,
.category-status .alert .inner,
.price-included-status .alert .inner,
.technical-status .alert .inner,
.status .alert .inner {
  max-width: 55rem;
  max-height: 50px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  float: left;
}
.page-status .alert span,
.image-status .alert span,
.category-status .alert span,
.price-included-status .alert span,
.technical-status .alert span,
.status .alert span {
  float: right;
  margin-left: 5px;
  font-size: 1.5rem;
  font-weight: bold;
}
#public {
  /* cell number */
}
#public header {
  z-index: 50;
  position: relative;
}
#public h1.navbar-brand a {
  text-decoration: none;
  color: black;
}
#public .navbar {
  margin: 0;
  padding-top: 10px;
  border-radius: 0;
  min-height: 70px;
  font-size: 1.6rem;
  background-color: white !important;
  border-color: white !important;
  z-index: 200;
  position: fixed;
  width: 100vw;
}
#public .navbar .container-fluid {
  overflow: visible;
}
#public .navbar .navbar-brand {
  margin: 0;
  font-size: 2.5rem;
  color: black;
  transform: scale(1, 1);
  transition: all 0.2s;
  padding: 0px 15px !important;
}
#public .navbar .navbar-brand:hover {
  color: #111111;
  transform: scale(1.05, 1.05);
  transition: all 0.2s;
}
@media (max-width: 420px) {
  #public .navbar .navbar-brand {
    font-size: 2.5rem;
  }
}
#public .navbar ul.nav > li > a {
  padding: 1.7rem;
  font-size: 1.7rem;
  transform: scale(1, 1);
  transition: all 0.2s;
}
#public .navbar ul.nav > li > a:hover {
  padding: 1.7rem;
  transform: scale(1.2, 1.2);
  transition: all 0.2s;
}
#public .navbar li.dropdown:hover > ul.dropdown-menu,
#public .navbar li.dropdown-submenu:hover > div.dropdown-extension {
  display: block;
}
#public .navbar .popover {
  min-width: 600px;
  min-height: 400px;
  height: 100%;
  left: 98%;
  padding: 0;
  border-radius: 0;
  overflow: visible;
  box-shadow: 0 0 5px grey;
  background-color: #FFFDF8;
  border: none;
  color: black;
  font-family: 'Comfortaa', cursive;
}
#public .navbar .popover .popover-content {
  text-align: center;
  padding: 0;
  height: 100%;
}
#public .navbar .popover .popover-content ul {
  width: 300px;
  min-height: 150px;
  float: left;
  height: 100%;
  overflow: auto;
  list-style-type: circle;
}
#public .navbar .popover .popover-content ul li {
  padding: 0;
  margin: 0;
  text-align: left;
}
#public .navbar .popover .popover-content ul li:hover {
  background-color: #0a77a9;
  color: white;
}
#public .navbar .popover .popover-content ul li a {
  padding: 1rem 1rem;
  font-size: 1.6rem;
}
#public .navbar .popover .popover-content ul li a:hover {
  color: white;
}
#public .navbar .popover .popover-content .popover-title {
  border: none;
  border-radius: 0;
  background-color: transparent;
  font-size: 3rem;
  font-family: 'Comfortaa', cursive;
  padding: 4rem 0;
}
#public .navbar .popover .popover-content img {
  position: absolute;
  left: 300px;
  height: 400px;
  /*top: 25%;
          left: 25%;
          height: 100%;
          width: 100%;*/
}
#public .navbar .dropdown-menu {
  border: none;
  border-radius: 0;
  padding: 0;
  background-color: #FFFDF8;
  color: black;
  box-shadow: 0 0 5px grey;
  transition: all 0.5s ease;
  min-width: 280px;
  max-height: 90vh;
  overflow: auto;
}
#public .navbar .dropdown-menu li,
#public .navbar .dropdown-menu a {
  font-size: 1em;
  color: black;
  border-bottom: 0.5px solid rgba(241, 241, 241, 0.8);
}
#public .navbar .dropdown-menu > li > a:hover {
  color: white;
  font-size: 1.2em;
  background: #0a77a9 none;
}
#public .navbar .dropdown-menu.cart-list li:hover {
  color: white;
  background-color: #0a77a9;
}
#public .navbar .dropdown-menu.cart-list li:hover a {
  color: white;
}
#public .navbar .dropdown-menu.cart-list li {
  padding: 0 1rem;
}
#public .navbar .dropdown-menu.cart-list div,
#public .navbar .dropdown-menu.cart-list a {
  display: flex;
  flex-direction: row;
  align-items: center;
}
#public .navbar .dropdown-menu.cart-list img {
  max-width: 40px;
  max-height: 40px;
  height: auto;
  width: auto;
}
#public .navbar .dropdown-menu.cart-list a span:first-of-type {
  width: 350px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  display: inline-block;
}
#public .navbar .dropdown-menu.cart-list span {
  margin: 1rem;
}
#public .navbar .dropdown-menu.cart-list span.cart-remove:hover {
  cursor: pointer;
}
#public .navbar ul li a {
  color: #0a77a9;
  transition: font-size 0.2s, font-weight 0.2s, padding 0.2s;
  background-color: transparent;
  padding: 1rem;
  font-size: 1.7rem;
}
#public .navbar ul li a:hover {
  color: #111111;
  padding: 1rem;
  font-size: 1.7rem;
  transition: font-size 0.2s, font-weight 0.2s, padding 0.2s;
}
@media (max-width: 1270px) {
  #public .navbar .navbar-toggle {
    color: #0a77a9;
    border-color: #0a77a9;
    margin-top: 0px;
  }
  #public .navbar .navbar-toggle:focus {
    color: white;
  }
  #public .navbar .navbar-collapse {
    background-color: #0a77a9;
    color: white;
    text-align: center;
  }
  #public .navbar .navbar-collapse .navbar-nav > li > a {
    color: white;
  }
  #public .navbar .navbar-collapse .navbar-nav > li > a:hover {
    transform: none;
  }
}
@media (max-width: 1270px) and (max-width: 768px) {
  #public .navbar .navbar-collapse .navbar-nav > .navbar-nav {
    padding: 0 1.7rem;
  }
}
#public .check-availability {
  width: 100%;
}
#public .btn-primary {
  color: #ffffff;
  background-color: #0a77a9;
  border-color: transparent;
  border-width: 2px;
  transition: all 0.25s ease;
  min-width: 200px;
}
#public .btn-primary:hover {
  background-color: #ffffff;
  color: #0a77a9;
}
#public .list-margin li {
  margin: 20px;
}
#public .price-list {
  color: #ffffff;
  margin-bottom: 50px;
}
#public .price-list .credit-card:before {
  font-family: "Glyphicons Halflings";
  content: "\e177";
}
#public .price-list .bank-account:before {
  font-family: "Glyphicons Halflings";
  content: "\e039";
}
#public .price-list .cash:before {
  font-family: "Glyphicons Halflings";
  content: "\e148";
}
#public .price-list .pig:before {
  font-family: "Glyphicons Halflings";
  content: "\e225";
}
#public footer {
  color: #0a77a9;
  overflow: auto;
  padding-top: 20px;
}
#public footer .con {
  margin-bottom: 20px;
}
#public footer h4,
#public footer h5 {
  font-weight: bold;
  font-size: 2.2rem;
}
#public footer iframe {
  width: 100%;
  height: 30rem;
}
#public footer .social img {
  width: 5rem;
  height: 5rem;
  margin: 2rem;
  transition: all 0.3s;
  transform: translateY(0px);
}
#public footer .social img:hover {
  width: 6rem;
  height: 6rem;
  margin: 1.5rem;
  transition: all 0.3s;
  transform: translateY(-4px);
}
@media (max-width: 1270px) {
  #public footer {
    padding: 6rem;
  }
}
@media (max-width: 768px) {
  #public footer {
    padding: 2rem;
  }
}
#public .admin-box {
  background-color: black;
  color: white;
  padding: 2rem;
  position: fixed;
  bottom: 0;
}
#public .admin-box a {
  color: white;
}
#public .scroll-anim {
  visibility: hidden;
}
#public .text-slider {
  position: static;
  width: 100%;
  margin: 0 auto;
}
#public .text-slider #slides {
  overflow: hidden;
  position: static;
  width: 100%;
}
#public .text-slider #slides ul {
  list-style: none;
  width: 100%;
  margin: 0;
  padding: 0;
  position: relative;
}
#public .text-slider #slides li {
  width: 100%;
  float: left;
  text-align: center;
  position: relative;
}
#public .owl-carousel {
  padding: 0;
  max-height: 70rem;
}
#public .owl-carousel.owl-theme .item .box {
  margin: 25vh 15vw;
}
@media (max-width: 1270px) {
  #public .owl-carousel.owl-theme .item .box {
    margin: 20vh 15vw;
    text-align: center;
  }
}
@media (max-width: 768px) {
  #public .owl-carousel.owl-theme .item .box {
    margin: 15vh auto;
  }
  #public .owl-carousel.owl-theme .item .box h4 {
    font-size: 4.5rem;
  }
}
#public .owl-carousel.owl-theme .item {
  height: calc(100% - 70px);
  height: calc(100vh - 70px);
  background-position: center;
  background-size: cover;
  display: flex;
}
#public .owl-carousel.owl-theme .item .box {
  margin: 35vh auto;
  color: #FFF;
}
#public .owl-carousel.owl-theme .item .box .black {
  color: #000;
}
#public .owl-carousel.owl-theme .item .box h4 {
  font-size: 4rem;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 20px;
  box-shadow: 3px 3px 5px 6px rgba(0, 0, 0, 0.5);
  padding: 10px;
}
@media (max-width: 420px) {
  #public .owl-carousel.owl-theme .item .box h4 {
    font-size: 3rem;
  }
}
#public .owl-carousel.owl-theme .item .box a {
  display: inline-block;
  color: #FFF;
  font-size: 2rem;
  background-color: #F8362C;
  transition: all 0.3s;
}
#public .owl-carousel.owl-theme .item .box a:hover {
  padding: 2rem;
  transition: all 0.3s;
}
#public .owl-carousel.owl-theme .owl-nav {
  text-align: center;
  -webkit-tap-highlight-color: transparent;
  position: absolute;
  top: calc(50% - 70px);
  top: calc(50vh - 70px);
  text-shadow: 0 0 10px black;
  width: 100%;
  pointer-events: none;
}
#public .owl-carousel.owl-theme .owl-nav [class*='owl-'] {
  color: #FFF;
  font-size: 60px;
  padding: 20px 10px 10px;
  display: inline-block;
  cursor: pointer;
  pointer-events: all;
  border-radius: 0;
}
@media (max-width: 420px) {
  #public .owl-carousel.owl-theme .owl-nav [class*='owl-'] {
    font-size: 1.5rem;
  }
}
#public .owl-carousel.owl-theme .owl-nav [class*='owl-']:hover {
  background: rgba(86, 97, 91, 0.3);
  text-decoration: none;
}
#public .owl-carousel.owl-theme .owl-nav .disabled {
  opacity: 0.5;
  cursor: default;
}
#public .owl-carousel.owl-theme .owl-nav.disabled + .owl-dots {
  margin-top: 10px;
}
#public .owl-carousel.owl-theme .owl-dots {
  text-align: center;
  -webkit-tap-highlight-color: transparent;
  position: absolute;
  top: calc(70% - 70px);
  top: calc(70vh - 70px);
  width: 100%;
}
@media (max-width: 420px) {
  #public .owl-carousel.owl-theme .owl-dots {
    top: calc(80vh - 70px);
  }
}
#public .owl-carousel.owl-theme .owl-dots .owl-dot {
  display: inline-block;
  zoom: 1;
  *display: inline;
}
#public .owl-carousel.owl-theme .owl-dots .owl-dot span {
  width: 12px;
  height: 12px;
  margin: 5px 7px;
  background: #FFFDF8;
  display: block;
  -webkit-backface-visibility: visible;
  transition: opacity 200ms ease;
  border-radius: 30px;
  box-shadow: 0 0 5px black;
}
#public .owl-carousel.owl-theme .owl-dots .owl-dot.active span,
#public .owl-carousel.owl-theme .owl-dots .owl-dot:hover span {
  background: grey;
}
#public .tooltipss {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}
#public .tooltipss .tooltiptextss {
  visibility: hidden;
  width: 100px;
  background-color: white;
  font-size: 0.7em;
  color: black;
  font-family: 'Comfortaa', sans-serif;
  text-align: center;
  border-color: black;
  border-radius: 2px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  top: 200%;
  left: 50%;
  margin-left: -60px;
}
#public .tooltipss:hover .tooltiptextss {
  visibility: visible;
}
#public .carouselBig {
  background: #FAFAFA;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 80px;
}
#public .carouselBig-cell {
  height: 500px;
}
#public .carouselBig-cell:before {
  display: block;
  text-align: center;
  line-height: 200px;
  font-size: 100px;
}
#public .centrovacBig {
  position: absolute;
  margin: 0;
}
#public .velkeBig {
  margin-top: 20px;
  font-size: 2em;
  color: #0a77a9;
}
#public .maleBig {
  margin-top: 20px;
  font-size: 1.5em;
  color: #0a77a9;
}
#public .boxBig {
  width: 400px;
  min-height: 200px;
  margin-top: 125px;
  padding: 5px;
  overflow: auto;
  background: rgba(255, 255, 255, 0.8);
}
#public .parentBoxBig {
  display: flex;
  justify-content: center;
  margin-left: 40vw;
}
@media (max-width: 992px) {
  #public .parentBoxBig {
    margin-left: 0vw;
  }
}
#public .more {
  position: relative;
  top: -15vh;
  z-index: 10;
  font-size: 5rem;
}
@media (max-width: 420px) {
  #public .more {
    top: -16vh;
    font-size: 3rem;
  }
}
#public .more a {
  position: absolute;
  text-align: center;
  width: 100%;
  color: white;
  text-shadow: 0 0 10px black;
  text-decoration: none;
  transition: all 0.3s;
}
#public .more a:hover {
  font-size: 5.5rem;
  text-decoration: none;
  transition: all 0.3s;
}
@media (max-width: 420px) {
  #public .more a:hover {
    font-size: 3.5rem;
  }
}
#public .tip .search-datetimepicker {
  position: relative;
  color: #0a77a9;
}
#public .tip #search-hints {
  position: absolute;
  display: none;
  width: 100%;
  padding: 0 1.5rem;
  min-width: 240px;
  background-color: white;
  box-shadow: 0 1px 5px grey;
}
@media (max-width: 1270px) {
  #public .tip > .col-md-5 {
    display: none;
  }
}
#public .favourite > [class*='col-'] {
  margin-top: 0;
  margin-bottom: 2rem;
  position: relative;
  z-index: 5;
  background-color: transparent;
}
#public .favourite > [class*='col-'] > .row {
  margin: 25px -5px;
}
#public .favourite h2,
#public .favourite h3 {
  margin: 0 -15px;
  padding: 1rem;
  color: #0a77a9;
}
#public .favourite .go-to {
  background-color: #0a77a9;
  color: white;
}
#public .favourite .go-to p {
  margin: 1rem;
  color: white;
  text-align: center;
}
#public .paddingl {
  padding-left: 10px;
  padding-right: 10px;
}
#public .item-box {
  background-color: #ffffff;
  transition: all 0.5s ease;
  margin-top: 10px;
}
#public .item-box:hover {
  background-color: #0A77A920;
  color: #0a77a9;
}
#public .item-box:hover .details .text a {
  text-decoration: none !important;
}
#public .item-box .details .row {
  margin: 0;
  font-size: 1.5rem;
  transition: all 0.3s;
}
#public .item-box .details .row:hover {
  transform: translateY(0.5rem);
  transition: all 0.3s;
}
#public .item-box .details .col-sm-6 {
  font-size: 0.8em;
  text-align: center;
  transition: all 0.3s;
}
#public .item-box .details .col-sm-6:hover {
  transition: all 0.3s;
}
#public .item-box .details .col-sm-6 a {
  padding: 2rem 0;
  display: grid;
}
#public .item-box .details h4 {
  height: 6rem;
  font-size: 1.6rem;
}
#public .item-box .details .text {
  text-align: center;
  overflow: auto;
}
#public .item-box .details .reserve {
  background-color: #0a77a9;
}
#public .item-box .details .reserve a {
  color: white;
}
#public .item-box .details .buy {
  background-color: #4DB3B3;
}
#public .item-box .details .buy a {
  color: white;
}
#public .item-box .details .wide {
  text-align: left;
}
#public .item-box .details .wide h4 {
  margin-left: 10px;
  height: 3rem;
}
#public .item-box .details .wide p {
  padding: 1rem;
  float: left;
}
#public .item-box .details .wide p.description {
  float: none;
  text-align: left;
  width: 100%;
  overflow: auto;
}
#public .item-box .images {
  height: 50%;
  overflow: hidden;
}
#public .item-box .images iframe {
  width: 100%;
  height: 100%;
}
#public .item-box .images > a {
  height: 160px;
  display: flex;
  align-items: center;
}
#public .item-box .images img {
  width: 100%;
}
#public .item-box .images .image-swap {
  display: none;
  opacity: 0;
  position: absolute;
  transition: all 0.5s;
}
#public .item-box .images .image-swap:hover {
  opacity: 1;
  transition: all 0.5s;
}
#public .item-box.big .images .image-swap {
  position: relative;
  left: -100%;
}
#public .promo-line {
  text-align: center;
  padding: 8rem 10rem;
  color: white;
}
#public .promo-line h4 {
  margin: 4rem;
}
#public .promo-line h5 {
  font-size: 1.7rem;
  margin: 2rem;
}
#public .promo-line .round-icon {
  margin: 0 auto;
  font-size: 3rem;
  width: 9rem;
  padding: 2rem;
  color: white;
  background-color: #28c128;
  border: 2px solid #28c128;
  border-radius: 9rem;
}
@media (max-width: 768px) {
  #public .promo-line {
    padding: 2rem;
  }
}
#public .categories-line {
  text-align: center;
  padding: 3rem;
}
#public .categories-line .col-md-3 div {
  margin: 1rem;
  border: 1px solid black;
  transition: all 0.5s;
}
#public .categories-line .col-md-3 div:hover {
  box-shadow: 0 15px 40px grey;
  transition: all 0.5s;
  transform: translateY(-4px);
}
#public .category-border {
  border-color: #00000020;
  border-style: solid;
  border-width: 1px;
}
#public .category {
  background-size: cover;
  background-repeat: no-repeat;
}
#public .category h1 {
  text-align: center;
  padding: 1rem 0 2rem;
  font-size: 3rem;
}
#public .category h2 {
  text-align: center;
  padding: 5rem 0 3rem;
}
#public .category .description {
  text-align: center;
  padding: 2rem 0;
}
#public .category .description p {
  margin: 0;
}
#public .category .filter .tab {
  padding: 1.8rem 2rem;
  text-align: center;
  margin-top: 0.4rem;
}
#public .category .filter .tab a {
  font-size: 1.7rem;
  color: grey;
}
#public .category .filter .tab.active {
  background-color: #0a77a9;
  margin: 0;
  padding: 2rem;
}
#public .category .filter .tab.active a {
  color: white;
}
#public .category .filter .buttons p,
#public .category .filter .buttons a {
  padding: 2rem 1rem;
  float: right;
  margin: 0;
}
#public .category .filter .buttons a {
  padding: 1.7rem 1rem 1rem;
  font-size: 2rem;
}
#public .category .content {
  background-color: white;
  padding: 2rem;
  box-shadow: 0 1px 5px grey;
}
@media (max-width: 1200px) {
  #public .category .content {
    margin: auto;
  }
}
#public .category .content > div {
  padding-left: 10px;
  padding-right: 10px;
}
#public .category .pagination {
  margin: 0 0 1rem -15px;
}
#public .category .pagination .active a {
  background-color: #0a77a9;
  font-weight: bold;
  color: white;
}
#public .category .pagination a {
  border-radius: 0;
  background-color: white;
  font-size: 1.7rem;
  color: #0a77a9;
}
#public .carousel-cell {
  width: 90%;
  height: 300px;
  margin-right: 10px;
  background: rgba(10, 119, 169, 0.3);
  border-radius: 5px;
  background-position: center center;
  background-size: cover;
}
#public .carousel-cell {
  margin-right: 20px;
  overflow: hidden;
}
#public .video {
  height: 200px;
  width: 80vw;
}
@media screen and (min-width: 768px) {
  #public .carousel-cell {
    height: 500px;
  }
  #public .video {
    height: 500px;
    width: 50vw;
  }
  #public .parralaxGallery {
    padding: 40px;
  }
  #public .flickity-button {
    background: white;
  }
  #public .flickity-button:hover {
    transition: ease 0.5s;
    background: #0a77a9;
  }
}
#public .product {
  padding-bottom: 20px;
}
#public .product .gallery .thumbnails {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 500px;
  overflow: auto;
  margin-top: 2rem;
}
@media (max-width: 768px) {
  #public .product .gallery .thumbnails {
    height: auto;
  }
}
#public .product .gallery .thumbnails .row div {
  padding: 0 1rem;
}
#public .product .gallery .main-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 500px;
}
@media (max-width: 768px) {
  #public .product .gallery .main-container {
    height: auto;
  }
}
#public .product .gallery .main-container iframe {
  height: 100%;
  width: 100%;
}
#public .product .gallery img {
  display: block;
  max-width: 90%;
  max-height: 100%;
  width: auto;
  height: auto;
  margin: 1rem;
  transition: all 0.4s;
  transform: translateY(0) scale(1, 1);
}
#public .product .gallery img:hover {
  box-shadow: 0 1px 20px grey;
  transition: all 0.4s;
  transform: scale(1.1, 1.1);
}
#public .product .gallery img.main {
  display: block;
  max-height: 500px;
  max-width: 100%;
  height: auto;
  width: auto;
  margin: 1rem auto;
}
#public .product .gallery img.main:hover {
  transform: scale(1, 1);
}
#public .product .main-data {
  padding-top: 2rem;
}
#public .product .main-data h1 {
  font-size: 3rem;
}
#public .product .main-data .price-dph {
  margin-top: 3rem;
  font-size: 2rem;
  font-weight: bold;
}
#public .product .main-data .actions {
  margin-top: 2rem;
}
#public .product .main-data .actions .col-md-4 {
  transition: all 0.5s;
  transform: scale(1, 1);
  z-index: 1;
}
#public .product .main-data .actions .col-md-4:hover {
  transition: all 0.5s;
  transform: scale(1.2, 1.2);
  z-index: 2;
}
#public .product .main-data .actions a,
#public .product .main-data .actions p {
  padding: 2rem;
  display: block;
  text-align: center;
  font-size: 1.6rem;
}
#public .product .main-data .actions .reserve {
  background-color: #28c128;
}
#public .product .main-data .actions .reserve a {
  color: white;
}
#public .product .main-data .actions .buy {
  background-color: #0a77a9;
}
#public .product .main-data .actions .buy a {
  color: white;
}
#public .product .main-data .actions .not-sold {
  background-color: #F24E49;
}
#public .product .main-data .actions .not-sold p {
  color: white;
  margin: 0;
}
@media (max-width: 992px) {
  #public .product .main-data .actions {
    margin-left: -15px;
  }
}
#public .product .main-data .availability {
  margin-top: 3rem;
  padding: 2rem;
  background-color: #0a77a9;
}
#public .product .main-data .availability label,
#public .product .main-data .availability > p {
  color: white;
}
#public .product .main-data .availability > p {
  font-weight: bold;
}
#public .product .main-data .availability .alert {
  margin: 1rem 0 0;
}
#public .product .nav-tabs {
  margin-top: 4rem;
  padding: 0;
  border: none;
}
#public .product .nav-tabs li {
  display: block;
}
#public .product .nav-tabs li a {
  background-color: #28c128;
  float: left;
  border: none;
  border-radius: 0;
  color: white;
  padding: 2rem;
  margin: 0.8rem 0 0;
  transition: all 0.3s;
}
#public .product .nav-tabs li a.active,
#public .product .nav-tabs li a:hover {
  transition: all 0.3s;
  padding: 2.4rem 2rem;
  margin: 0;
}
#public .product .nav-tabs li.active a {
  transition: all 0.3s;
  padding: 2.4rem 2rem;
  margin: 0;
}
#public .product .product-info {
  color: #0a77a9;
}
#public .product .product-info p,
#public .product .product-info span,
#public .product .product-info div,
#public .product .product-info strong,
#public .product .product-info ul,
#public .product .product-info li,
#public .product .product-info h1,
#public .product .product-info h2,
#public .product .product-info h3,
#public .product .product-info h4,
#public .product .product-info h5,
#public .product .product-info h6 {
  font-family: 'Comfortaa', cursive !important;
}
#public .product .product-info p[class^='ti-'],
#public .product .product-info span[class^='ti-'],
#public .product .product-info div[class^='ti-'],
#public .product .product-info strong[class^='ti-'],
#public .product .product-info ul[class^='ti-'],
#public .product .product-info li[class^='ti-'],
#public .product .product-info h1[class^='ti-'],
#public .product .product-info h2[class^='ti-'],
#public .product .product-info h3[class^='ti-'],
#public .product .product-info h4[class^='ti-'],
#public .product .product-info h5[class^='ti-'],
#public .product .product-info h6[class^='ti-'] {
  font-family: 'themify' !important;
}
#public .product .product-info .info-block {
  padding: 4rem;
}
#public .product .product-info .info-block .title {
  border-bottom: 2px solid #0a77a9;
}
#public .product .product-info .info-block ul {
  column-count: 2;
  column-gap: 3rem;
  list-style-position: outside;
}
@media (max-width: 768px) {
  #public .product .product-info .info-block ul {
    column-count: 1;
  }
}
#public .product .product-info .info-block ul.product-additions {
  font-size: 1.5rem;
}
#public .product .product-info .info-block ul.product-additions a {
  margin: 0.5rem;
}
#public .product .product-info .info-block ul.product-additions a span {
  font-family: 'themify' !important;
}
@media (max-width: 768px) {
  #public .product .interests-row {
    margin: 0;
  }
}
#public .product .interest {
  font-size: 2rem;
  font-weight: bold;
  margin: 2rem;
  border-bottom: 2px solid #0a77a9;
}
#public .product .next-interest a {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 45rem;
  text-decoration: none;
}
#public .product .next-interest a:hover p {
  transition: all 0.3s;
  transform: scale(1.5, 1.5);
}
#public .product .next-interest a p {
  font-size: 7rem;
  font-weight: bold;
  transition: all 0.3s;
  transform: scale(1, 1);
}
#public .customer .row {
  margin: 0;
}
#public .customer .login {
  padding: 10rem 20rem;
}
#public .customer .login .login-form {
  background-color: #0a77a9;
  padding: 3rem;
  box-shadow: 0 5px 20px grey;
  color: white;
}
#public .customer .login .login-form input[type=submit],
#public .customer .login .login-form button {
  background-color: #28c128;
  border-radius: 0;
  border: none;
}
#public .customer .login .forgotten-password {
  text-align: center;
  margin-top: 2rem;
}
@media (max-width: 1270px) {
  #public .customer .login {
    padding: 2rem 10rem;
  }
}
@media (max-width: 768px) {
  #public .customer .login {
    padding: 2rem;
  }
}
#public .customer .register {
  padding: 10rem 10rem;
}
#public .customer .register .register-container {
  background-color: #0a77a9;
  padding: 3rem;
  box-shadow: 0 5px 20px grey;
  color: white;
}
#public .customer .register .register-container .grecaptcha-badge {
  transition: none;
  right: 3rem !important;
}
#public .customer .register .register-container .grecaptcha-badge:hover {
  right: 3rem !important;
}
@media (max-width: 1270px) {
  #public .customer .register {
    padding: 2rem 10rem;
  }
}
@media (max-width: 768px) {
  #public .customer .register {
    padding: 2rem;
  }
}
#public .customer input[type=submit],
#public .customer button {
  background-color: #28c128;
  color: white;
  border-radius: 0;
  border: none;
  padding: 1rem 2rem;
  margin: 1rem 0;
}
#public .tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}
#public .tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
}
#public .tooltip:hover .tooltiptext {
  visibility: visible;
}
#public .panel {
  margin-bottom: 0;
  padding-bottom: 20px;
}
#public .panel,
#public .order {
  border: none;
  box-shadow: none;
}
#public .panel [class*="col-"],
#public .order [class*="col-"] {
  padding: 0;
}
#public .panel .box,
#public .order .box {
  overflow: auto;
  margin: 2rem 2rem 0;
  padding: 2rem;
  box-shadow: 0 2px 10px #ccc;
}
#public .panel .box.with-top,
#public .order .box.with-top {
  padding: 0 0 2rem;
}
#public .panel .box.top-offset,
#public .order .box.top-offset {
  margin: 15rem 2rem 0;
}
#public .panel .box.light-blue,
#public .order .box.light-blue {
  background-color: #4DB3B3;
  font-weight: bold;
  color: white;
}
#public .panel .box.bright-red,
#public .order .box.bright-red {
  background-color: #F24E49;
  font-weight: bold;
  color: white;
}
#public .panel .box.light-green,
#public .order .box.light-green {
  background-color: #28c128;
  color: white;
}
#public .panel .box .top,
#public .order .box .top {
  margin: 0;
  padding: 1rem 2rem;
  color: white;
}
#public .panel .box .top-red,
#public .order .box .top-red {
  background-color: #F24E49;
}
#public .panel .box .top-blue,
#public .order .box .top-blue {
  background-color: #0a77a9;
}
#public .panel .box .top-light-blue,
#public .order .box .top-light-blue {
  background-color: #4DB3B3;
}
#public .panel .box .top-kaky,
#public .order .box .top-kaky {
  background-color: #BCC301;
}
#public .panel .box .content,
#public .order .box .content {
  padding: 2rem;
}
#public .order-list p {
  margin: 0;
}
#public .cart h2 {
  background-color: #0a77a9;
  color: white;
  margin: 0;
  padding: 0.2rem;
}
#public .cart h3 {
  background-color: #4DB3B3;
  color: white;
  margin: 0;
}
#public .cart h4 {
  padding: 2rem 0;
}
#public .cart .top h4 {
  padding: 0;
}
#public .cart input,
#public .cart span {
  border-radius: 0;
}
#public .cart input[type=number] {
  padding-right: 0;
  min-width: 20px;
  max-width: 50px;
}
#public .cart .title div {
  padding: 4rem 1rem 0;
  border-bottom: 2px solid #28c128;
}
#public .cart .admin-cart-list {
  margin: 0;
}
#public .cart .admin-cart-list .ti-plus {
  border: 1px solid;
  border-color: #0a77a9;
  padding: 10px;
  border-radius: 20px;
  background-color: #0a77a9;
  color: white;
}
#public .cart .admin-cart-list > div {
  padding: 2rem;
}
@media (max-width: 768px) {
  #public .cart .admin-cart-list > div {
    padding: 2rem 0;
  }
}
#public .cart .admin-cart-list > div > div {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
}
@media (max-width: 768px) {
  #public .cart .admin-cart-list > div > div > div {
    padding: 2px;
  }
}
#public .cart .admin-cart-list .header {
  border-bottom: 1px solid #28c128;
}
#public .cart .admin-cart-list .header p {
  font-size: 1.4rem;
}
#public .cart .admin-cart-list .header div {
  padding: 2px;
}
#public .cart .admin-cart-list > div:last-of-type {
  border-bottom: 2px solid #28c128;
}
#public .cart .admin-cart-list img {
  max-height: 150px;
  max-width: 150px;
  height: auto;
  width: auto;
}
@media (max-width: 768px) {
  #public .cart .admin-cart-list img {
    display: none;
  }
}
#public .cart .admin-cart-list p {
  font-size: 1.7rem;
  margin: 0;
}
#public .cart .admin-cart-list hr {
  margin: 0;
  border-top: 1px solid #28c128;
}
#public .cart .admin-cart-list a.back-to-shop {
  background-color: #0a77a9;
  padding: 1rem;
  display: inline-block;
  color: white;
}
#public .cart .admin-cart-list .top-border {
  border-top: 1px solid #28c128;
}
#public .cart .admin-cart-list .term-info {
  padding: 1rem;
}
#public .cart .admin-cart-list .term-info p {
  font-size: 1.5rem;
}
#public .cart .admin-cart-list .ti-close {
  border: 1px solid #28c128;
  padding: 5px;
  border-radius: 15px;
  background-color: #28c128;
  color: white;
}
#public .cart .date-container .date-title {
  background-color: #28c128;
  color: white;
  padding: 5px 0;
  text-align: center;
}
#public .cart .date-container .date-content {
  background-color: #0a77a9;
  color: white;
  padding: 3rem;
  margin-bottom: 1rem;
  z-index: 10;
}
#public .cart .date-container .date-content .date-result {
  text-align: right;
  font-weight: bold;
  padding: 1rem;
}
#public .cart .date-container .cart-datetimepicker {
  color: black;
}
#public .cart .date-container .add-date p,
#public .cart .date-container .remove-date p {
  color: white;
  padding: 1rem;
  text-align: center;
  cursor: pointer;
}
#public .cart .date-container .add-date p {
  background-color: #BCC301;
}
#public .cart .date-container .remove-date p {
  background-color: #F24E49;
}
#public .cart .price-container {
  text-align: right;
}
#public .cart .price-container .green {
  margin-top: -2rem;
  margin-bottom: 2rem;
  display: block;
}
#public .cart .price-container p {
  font-size: 1.7rem;
}
#public .cart .price-container p.final-price {
  font-size: 2.2rem;
  padding: 1rem 0;
}
#public .cart .buttons {
  text-align: right;
  padding-top: 3rem;
}
#public .cart .buttons .btn {
  border-radius: 0;
  font-size: 1.7rem;
  padding: 2rem;
  white-space: inherit;
}
#public .cart .alert .inner {
  white-space: normal !important;
}
#public .checkbox {
  margin-top: 0px;
}
#public .order input[type=submit],
#public .order button {
  background-color: #0a77a9;
  color: white;
  border-radius: 0;
  border: none;
  padding: 1rem 2rem;
  margin: 1rem 0;
}
#public .order .venue-result,
#public .order .payment-type,
#public .order .payment {
  font-size: 1.7rem;
}
#public .order .venue-result p,
#public .order .payment-type p,
#public .order .payment p,
#public .order .venue-result .radio,
#public .order .payment-type .radio,
#public .order .payment .radio {
  padding: 2rem 2rem 0;
}
#public .order .venue-result p.venue-price,
#public .order .payment-type p.venue-price,
#public .order .payment p.venue-price,
#public .order .venue-result .radio.venue-price,
#public .order .payment-type .radio.venue-price,
#public .order .payment .radio.venue-price {
  font-size: 1.8rem;
}
#public .order .venue-result p span,
#public .order .payment-type p span,
#public .order .payment p span,
#public .order .venue-result .radio span,
#public .order .payment-type .radio span,
#public .order .payment .radio span {
  font-weight: bold;
}
#public .order .customer-note textarea {
  margin: 1rem 0;
}
#public .order .price-container {
  padding: 4rem;
}
#public .order .buttons {
  text-align: center;
  padding-bottom: 4rem;
}
#public .order .agreements {
  padding: 2rem;
  font-size: 1.7rem;
  font-weight: bold;
}
#public .order-detail .title div {
  padding: 2rem 1rem 0;
}
#public .order-detail h3 {
  padding: 2rem 0;
  background-color: transparent;
  color: black;
}
#public #price-list {
  margin: 3rem 0;
  font-size: 1.8rem;
}
#public #price-list span {
  background-color: #0a77a9;
  color: white;
  border-radius: 20px;
  padding: 5px;
}
#public #price-list li {
  margin: 1rem;
}
#public #price-list li p {
  font-size: 1.6rem;
}
#public.photo-gallery .gallery-container {
  padding: 0;
  margin: 0;
}
#public.photo-gallery .gallery-frame {
  width: 100vw;
  height: 100vh;
  border: none;
  margin-bottom: -6px;
}
#public .blog-list h1 {
  text-align: center;
}
#public .blog-list h2 {
  font-size: 1.6rem;
}
#public .blog-list h3 {
  text-align: center;
}
#public .blog-list p {
  text-align: justify;
}
#public .blog-list hr {
  border-top: 2px solid #0a77a9;
}
#public .blog-list .col-md-4 {
  min-height: 170px;
}
#public .blog-list img {
  width: 100%;
  height: auto;
  padding: 10px;
  margin: 0 auto !important;
}
#public .blog-post .back {
  padding: 5px;
  display: block;
}
#public .blog-post img {
  margin: 10px;
}
#public .blog-post img.alignright {
  float: right;
}
#public .blog-post img.alignleft {
  float: left;
}
.block-wrap {
  width: 320px;
  margin: 0 auto;
  min-height: 100%;
  /* Fallback for browsers do NOT support vh unit */
  min-height: 100vh;
  /* These two lines are counted as one :-)       */
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
}
.block-wrap header,
.block-wrap footer {
  margin: 30px 0;
}
.block-wrap header h1,
.block-wrap footer h1 {
  font-size: 2.2em;
}
.block-wrap > div {
  color: white;
  padding: 40px 20px;
  background-color: #0a77a9;
  box-shadow: 0 0 5px grey;
}
.block-wrap input[type=submit] {
  background-color: #4DB3B3;
}
#admin {
  background-color: #efefef;
}
#admin .container-fluid {
  margin-left: 54px;
}
#admin [class*="col-"] {
  padding-top: 1.2rem;
  padding-right: 1.2rem;
  padding-left: 1.2rem;
}
#admin .box {
  box-shadow: 0 1px 2px #ccc;
  background-color: white;
  padding: 5px;
}
@media (max-width: 1400px) {
  #admin .box {
    overflow: auto;
  }
}
#admin .box.light-red {
  background-color: #ffd8d8;
}
#admin .box.light-yellow {
  background-color: #ffffd8;
}
#admin .box.light-green {
  background-color: #dbffd8;
}
#admin .box.light-blue {
  background-color: #4DB3B3;
  color: white;
}
#admin .navbar {
  margin-bottom: 0px;
}
#admin .product-name {
  text-align: left;
  font-size: 15px;
}
#admin .admin-grid-header .col-md-4 {
  padding-left: 0;
}
#admin .admin-grid-header .col-md-4 .box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 139px;
}
#admin .admin-grid-header .first {
  padding-left: 1.2rem;
}
#admin .admin-grid [class*="col-"] {
  padding-left: 0;
}
#admin .admin-grid [class*="col-"] .box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 290px;
}
#admin .admin-grid [class*="col-"] .box .product-visible {
  position: absolute;
  top: 2.2rem;
  left: 1.2rem;
}
#admin .admin-grid [class*="col-"] .box .product-image {
  position: absolute;
  top: 2.2rem;
  left: 8rem;
}
#admin .admin-grid [class*="col-"] .box .product-addition {
  position: absolute;
  top: 2.2rem;
  left: 12rem;
}
#admin .admin-grid .first {
  padding-left: 1.2rem;
}
#admin .admin-grid .first .box {
  height: auto;
  display: block;
}
#admin .admin-grid .first-box {
  padding-left: 1.2rem;
}
#admin .admin-grid .product-detail .row {
  width: 100%;
}
#admin .admin-grid form [class*="col-"] {
  padding: 1.2rem 2rem;
}
#admin .admin-grid form .additions {
  padding: 1rem;
}
#admin .admin-table .row:not(.table-ignore) {
  display: flex;
  justify-content: center;
  align-content: center;
  margin-left: 10px;
}
#admin .admin-table .row:not(.table-ignore) [class*="col-"] {
  margin: 0;
  padding: 0;
}
#admin .admin-table .row:not(.table-ignore) [class*="col-"] h4,
#admin .admin-table .row:not(.table-ignore) [class*="col-"] p {
  margin: 0;
  padding: 0;
  line-height: 40px;
}
#admin .admin-table .product-detail .box .product-visible {
  position: absolute;
  top: 2.2rem;
  left: 2.2rem;
}
#admin .admin-table form [class*="col-"] {
  padding: 1.2rem 2rem;
}
#admin .image-container {
  min-height: 6rem;
  border: 2px dashed #28c128;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
#admin .image-container .single-image {
  margin: 0.5rem;
  width: 17.5rem;
  min-height: 20rem;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
#admin .image-container .single-image.filled {
  padding: 0.5rem;
  box-shadow: 0 2px 5px grey;
}
#admin .image-container .single-image input[type="file"] {
  display: none;
}
#admin .image-container .single-image .file-upload {
  display: inline-block;
  padding: 6px 12px;
  cursor: pointer;
  text-align: center;
  background-color: #0a77a9;
  color: white;
  transition: all 0.3s;
}
#admin .image-container .single-image .file-upload:hover {
  box-shadow: 0 2px 15px grey;
  transition: all 0.3s;
}
#admin .image-container .single-image input[type="text"] {
  margin: 1rem;
}
#admin .image-container .single-image img {
  max-width: 15.5rem;
  max-height: 16rem;
  width: auto;
  height: auto;
}
#admin.order-management .box .row {
  display: flex;
  align-items: baseline;
}
#admin.order-detail .box.light-blue {
  background-color: #4DB3B3;
  font-weight: bold;
  color: white;
}
#admin.order-detail .box.bright-red {
  background-color: #F24E49;
  font-weight: bold;
  color: white;
}
#admin.order-detail .box.light-green {
  background-color: #28c128;
  color: white;
}
#admin.order-detail .admin-cart-list .row {
  display: flex;
  align-items: center;
}
#admin.order-detail .admin-cart-list div div {
  text-align: center;
}
#admin.order-detail .admin-cart-list > div:last-of-type {
  border-bottom: 2px solid #28c128;
}
#admin.order-detail .admin-cart-list .header {
  border-bottom: 1px solid #28c128;
}
#admin.order-detail .admin-cart-list img {
  max-height: 150px;
  max-width: 150px;
  height: auto;
  width: auto;
}
#admin.order-detail .price-container {
  text-align: right;
}
#admin.order-detail .title div {
  border-bottom: 2px solid #28c128;
}
#admin.order-detail .row .btn {
  width: 100%;
  border-radius: 0;
  padding: 2rem;
  white-space: normal;
}
#admin.order-detail .toggle .btn {
  width: initial;
  padding: 12px 5px;
}
#admin #category-list {
  display: flex;
  justify-content: center;
}
#admin #category-list > ul {
  min-width: 40%;
}
#admin #category-list ul li {
  display: block;
  font-size: 2rem;
}
#admin #category-list ul li div {
  overflow: auto;
}
#admin #category-list ul li div p {
  float: left;
  margin: 1rem;
}
#admin #category-list ul li div button {
  float: right;
  margin: 0.5rem;
}
#admin #category-list ul li.new-category {
  border: 1px solid black;
  padding: 1rem;
  margin: 1rem;
  text-align: center;
  font-size: 1.8rem;
  transition: all 0.5s;
}
#admin #category-list ul li.new-category:hover {
  box-shadow: 0 15px 40px grey;
  transition: all 0.5s;
  transform: translateY(-4px);
  cursor: pointer;
}
#admin #category-list ul li.new-category p {
  margin: 0;
}
#admin #category-list ul li.new-category form input[type=text] {
  margin: 1rem 0;
}
#admin #category-product-position-list li {
  display: block;
  font-size: 1.7rem;
  margin: 1rem 0;
}
#admin #category-selects,
#admin #price-included-inputs,
#admin #technical-inputs,
#admin #additions-selects {
  padding: 0;
}
#admin #category-selects li,
#admin #price-included-inputs li,
#admin #technical-inputs li,
#admin #additions-selects li {
  display: block;
}
#admin .options-container .col-md-3 {
  min-height: 140px;
}
#admin .legend {
  display: flex;
  flex-direction: column;
}
#admin .legend p {
  margin: 1rem;
}
#admin .legend .order,
#admin .legend .reservation {
  margin: 0.5rem;
  padding: 0.5rem;
  box-shadow: 0 2px 10px grey;
  transition: all 0.3s;
}
#admin .legend .order:hover,
#admin .legend .reservation:hover {
  transition: all 0.3s;
  transform: translateY(-2px);
  box-shadow: 0 5px 20px grey;
}
#admin .legend .order.unpaid,
#admin .legend .reservation.unpaid {
  background-color: #6a27b2;
  color: white;
}
#admin .legend .order.cancelled,
#admin .legend .reservation.cancelled {
  background-color: #6b0f1f;
  color: white;
}
#admin .legend .order.confirmed,
#admin .legend .reservation.confirmed {
  background-color: #142977;
  color: white;
}
#admin .legend .order.sentInvoice,
#admin .legend .reservation.sentInvoice {
  background-color: #0b5920;
  color: white;
}
#admin .legend .order.finished,
#admin .legend .reservation.finished {
  background-color: #838383;
  color: white;
}
#admin .legend .order.reserv,
#admin .legend .reservation.reserv {
  background-color: #cb9331;
  color: black;
}
#admin .legend .order .time,
#admin .legend .reservation .time {
  font-weight: bold;
}
#admin.calendar .calendar-view {
  display: flex;
  flex-direction: column;
  padding: 0 18px;
}
#admin.calendar .calendar-data {
  flex: 1;
}
#admin.calendar .calendar-grid-container {
  height: 100%;
}
#admin.calendar .calendar-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  min-height: 73px;
}
#admin.calendar .calendar-header h2 {
  margin: 0;
}
#admin.calendar .small-calendar-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
#admin.calendar .small-calendar-grid {
  padding: 1rem;
  display: grid;
}
#admin.calendar .small-calendar-grid .highlighted {
  background-color: darkgrey;
  color: white;
  border-radius: 1rem;
}
#admin.calendar .small-calendar-grid .today {
  background-color: #F24E49;
  color: white;
  border-radius: 1rem;
}
#admin.calendar .small-calendar-grid a {
  text-align: center;
}
#admin.calendar .small-calendar-grid a:hover {
  cursor: pointer;
  background-color: #0a77a9;
  color: white;
  border-radius: 1rem;
}
#admin.calendar .calendar-grid {
  background-color: whitesmoke;
  display: grid;
  height: 100%;
}
#admin.calendar .calendar-grid .calendar-day {
  border: 1px solid grey;
  overflow: auto;
}
#admin.calendar .calendar-grid .calendar-day .day-header {
  padding: 0.5rem 2rem;
  border-bottom: 1px solid black;
  overflow: auto;
}
#admin.calendar .calendar-grid .calendar-day .day-header p,
#admin.calendar .calendar-grid .calendar-day .day-header h3 {
  margin: 0.5rem;
}
#admin.calendar .calendar-grid .calendar-day .day-header h3 {
  float: left;
}
#admin.calendar .calendar-grid .calendar-day .day-header span {
  float: right;
  margin: 1rem 0;
}
#admin.calendar .calendar-grid .calendar-day .order,
#admin.calendar .calendar-grid .calendar-day .reservation {
  margin: 0.5rem;
  padding: 0.5rem;
  box-shadow: 0 2px 10px grey;
  transition: all 0.3s;
}
#admin.calendar .calendar-grid .calendar-day .order:hover,
#admin.calendar .calendar-grid .calendar-day .reservation:hover {
  transition: all 0.3s;
  transform: translateY(-2px);
  box-shadow: 0 5px 20px grey;
}
#admin.calendar .calendar-grid .calendar-day .order.unpaid,
#admin.calendar .calendar-grid .calendar-day .reservation.unpaid {
  background-color: #6a27b2;
  color: white;
}
#admin.calendar .calendar-grid .calendar-day .order.cancelled,
#admin.calendar .calendar-grid .calendar-day .reservation.cancelled {
  background-color: #6b0f1f;
  color: white;
}
#admin.calendar .calendar-grid .calendar-day .order.confirmed,
#admin.calendar .calendar-grid .calendar-day .reservation.confirmed {
  background-color: #142977;
  color: white;
}
#admin.calendar .calendar-grid .calendar-day .order.sentInvoice,
#admin.calendar .calendar-grid .calendar-day .reservation.sentInvoice {
  background-color: #0b5920;
  color: white;
}
#admin.calendar .calendar-grid .calendar-day .order.finished,
#admin.calendar .calendar-grid .calendar-day .reservation.finished {
  background-color: #838383;
  color: white;
}
#admin.calendar .calendar-grid .calendar-day .order.reserv,
#admin.calendar .calendar-grid .calendar-day .reservation.reserv {
  background-color: #cb9331;
  color: black;
}
#admin.calendar .calendar-grid .calendar-day .order .time,
#admin.calendar .calendar-grid .calendar-day .reservation .time {
  font-weight: bold;
}
#admin.calendar .current-month,
#admin.calendar .small-current-month {
  text-transform: capitalize;
}
#admin .overflow-visible {
  overflow: visible;
}
#admin .small-label {
  font-size: 1.1rem;
}
#admin .customer {
  border: none;
  box-shadow: none;
}
#admin .customer [class*="col-"] {
  padding: 0;
}
#admin .customer .box {
  overflow: auto;
  margin: 2rem 2rem 0;
  padding: 2rem;
  box-shadow: 0 2px 10px #ccc;
}
#admin .customer .box.with-top {
  padding: 0 0 2rem;
}
#admin .customer .box.top-offset {
  margin: 15rem 2rem 0;
}
#admin .customer .box.light-blue {
  background-color: #4DB3B3;
  font-weight: bold;
  color: white;
}
#admin .customer .box.bright-red {
  background-color: #F24E49;
  font-weight: bold;
  color: white;
}
#admin .customer .box.light-green {
  background-color: #28c128;
  color: white;
}
#admin .customer .box .top {
  margin: 0;
  padding: 1rem 2rem;
  color: white;
}
#admin .customer .box .top-red {
  background-color: #F24E49;
}
#admin .customer .box .top-blue {
  background-color: #0a77a9;
}
#admin .customer .box .top-light-blue {
  background-color: #4DB3B3;
}
#admin .customer .box .top-kaky {
  background-color: #BCC301;
}
#admin .customer .box .content {
  padding: 2rem;
}
#admin .customer input[type=submit],
#admin .customer button {
  background-color: #0a77a9;
  color: white;
  border-radius: 0;
  border: none;
  padding: 1rem 2rem;
  margin: 1rem 0;
}
#admin .customer .venue-result,
#admin .customer .payment-type,
#admin .customer .payment {
  font-size: 1.7rem;
}
#admin .customer .venue-result p,
#admin .customer .payment-type p,
#admin .customer .payment p,
#admin .customer .venue-result .radio,
#admin .customer .payment-type .radio,
#admin .customer .payment .radio {
  padding: 2rem 2rem 0;
}
#admin .customer .venue-result p.venue-price,
#admin .customer .payment-type p.venue-price,
#admin .customer .payment p.venue-price,
#admin .customer .venue-result .radio.venue-price,
#admin .customer .payment-type .radio.venue-price,
#admin .customer .payment .radio.venue-price {
  font-size: 1.8rem;
}
#admin .customer .venue-result p span,
#admin .customer .payment-type p span,
#admin .customer .payment p span,
#admin .customer .venue-result .radio span,
#admin .customer .payment-type .radio span,
#admin .customer .payment .radio span {
  font-weight: bold;
}
#admin .customer .customer-note textarea {
  margin: 1rem 0;
}
#admin .customer .price-container {
  padding: 4rem;
}
#admin .customer .buttons {
  text-align: center;
  padding-bottom: 4rem;
}
#admin .customer .agreements {
  padding: 2rem;
  font-size: 1.7rem;
  font-weight: bold;
}
#admin iframe {
  width: 100%;
  height: calc(100% - 62px);
  height: calc(100vh - 62px);
  padding: 0 !important;
  border: none;
}
.request-change-order {
  background-color: #cb9331;
  transition: all 0.25s ease;
}
.request-change-order .ti-envelope {
  padding: 0 5px;
}
.request-change-order:hover {
  background-color: #bb954b;
}
.martop {
  margin-top: 10px;
}
.marright {
  margin-right: 5px;
}
.color-red {
  color: red;
  padding: 5px;
}
.color-green {
  color: green;
  padding: 5px;
}
.color-orange {
  color: orange;
  padding: 5px;
}
@media (min-width: 1270px) {
  .marrig {
    margin-right: 5px;
  }
}
.menus {
  width: 100px !important;
  color: #0a77a9;
}
.menus2 {
  width: 100px !important;
}
@media (max-width: 1270px) {
  .navbar-nav {
    float: none !important;
    margin: 0;
  }
  .modal-footer .btn {
    margin-left: 0 !important;
  }
  .cancel-order {
    margin: 10px 0px;
  }
  .order-delete-agree,
  .order-delete-agree {
    width: 100%;
  }
  .navbar {
    position: static !important;
  }
  .paddingZero {
    padding: 0 !important;
  }
  .paddingtop70 {
    padding: 5px;
  }
  .navbar-nav .open .dropdown-menu {
    position: static;
    float: none;
    width: auto;
    margin-top: 0;
    background-color: transparent;
    border: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    overflow: hidden;
  }
  .sidebar {
    margin-top: 0;
    width: 250px;
    background-color: #0a77a9;
    height: 100%;
    position: fixed;
    left: 0;
    top: 70px;
    z-index: 9;
  }
  .sidebar div {
    height: 100%;
    overflow: hidden;
  }
  .sidebar ul {
    padding: 0;
    height: 100%;
  }
  .sidebar ul li {
    width: 240px;
    font-size: 1.6em;
    padding: 10px 0;
    font-weight: lighter;
  }
  .sidebar ul li.current {
    background-color: #0a77a9;
  }
  .sidebar ul li span {
    width: 30px;
    height: 30px;
    margin: 0 16px;
  }
  .sidebar ul a {
    color: white;
  }
  .menus {
    margin: auto;
    width: 80vw !important;
  }
  .menus2 {
    margin: auto;
    width: 80vw !important;
  }
  .nav li a {
    display: flex;
    justify-content: center;
  }
  .dropdown-menu {
    left: 25vw;
    right: 25vw;
  }
  .navbar-header {
    float: none;
    margin-left: -10px !important;
    margin-right: -10px !important;
  }
  .navbar-left,
  .navbar-right {
    float: none !important;
  }
  .navbar-toggle {
    display: block;
  }
  .navbar-toggle:hover {
    color: #0a77a9 !important;
    background-color: initial !important;
  }
  .navbar-collapse {
    border-top: 1px solid transparent;
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
    z-index: 99999;
    margin-left: 0!important;
    margin-right: 0!important;
  }
  .navbar-fixed-top {
    top: 0;
    border-width: 0 0 1px;
  }
  .navbar-collapse.collapse {
    display: none !important;
  }
  .navbar-nav > li {
    float: none;
  }
  .navbar-nav > li > a {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .collapse.in {
    display: block !important;
  }
}
.carousel-celll {
  width: 25%;
}
@media (max-width: 1200px) {
  .carousel-celll {
    width: 40%;
  }
}
@media (max-width: 767px) {
  .carousel-celll {
    width: 70%;
  }
}
@media (max-width: 420px) {
  .carousel-celll {
    width: 90%;
  }
}
.cart .row {
  margin-left: 0px !important;
  margin-right: 0px !important;
}
@media (max-width: 760px) {
  #conte {
    margin-left: 54px !important;
    display: block !important;
  }
  .date-container h4 {
    font-size: 20px;
  }
  .toggle {
    width: 100% !important;
  }
  .toggle .toggle-on {
    z-index: 99;
  }
  .toggle .toggle-on.btn {
    padding-right: 50%;
  }
  .toggle .toggle-off.btn {
    padding-right: 50%;
  }
  .toggle .toggle-off {
    z-index: 99;
  }
  .cart h4 {
    padding: 2rem 2rem !important;
  }
  .cart h3 {
    font-size: 20px !important;
  }
  .cart h2 {
    font-size: 25px !important;
  }
  .overflow-auto {
    overflow: auto;
  }
  .modal-footer .btn {
    margin-left: 0 !important;
  }
  .btn {
    width: 100%;
  }
  .account-data-content-grid .grid-item {
    width: 100%;
  }
  .productNameParagraph {
    overflow: hidden;
    white-space: nowrap;
    max-width: 70px;
    text-overflow: ellipsis;
  }
  .productNameParagraph a {
    font-size: 0.7em;
  }
  .sidebar {
    margin-top: 0;
    width: 250px;
    background-color: #0a77a9;
    height: 100%;
    position: fixed;
    left: 0;
    top: 70px;
    z-index: 99999;
  }
  .sidebar div {
    height: 100%;
    overflow: hidden;
  }
  .sidebar ul {
    padding: 0;
    height: 100%;
  }
  .sidebar ul li {
    width: 240px;
    font-size: 1.6em;
    padding: 10px 0;
    font-weight: lighter;
  }
  .sidebar ul li.current {
    background-color: #0a77a9;
  }
  .sidebar ul li span {
    width: 30px;
    height: 30px;
    margin: 0 16px;
  }
  .sidebar ul a {
    color: white;
  }
}
@media (max-width: 760px) and (max-width: 768px) {
  .modal-wrap {
    margin-left: 65px;
  }
}
.centrov {
  display: flex !important;
  justify-content: center;
}
#sticky-wrap {
  display: none;
  font-size: 2.5rem;
  height: 60px;
  width: 50px;
  position: fixed;
  bottom: 60px;
  right: 20px;
  z-index: 999999999;
}
#sticky-wrap a {
  text-decoration: none !important;
  outline: none !important;
}
#sticky-wrap.stickyhead {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 30px;
  right: 45px;
  z-index: 99999;
  border-radius: 500px;
  border: 4px solid black;
  opacity: 0.7;
  transition: all 0.5s ease;
}
#sticky-wrap.stickyhead:hover {
  border-color: white;
  background-color: black;
}
#sticky-wrap.stickyhead:hover .up {
  color: white;
}
.ti-angle-up {
  color: black;
  transition: all 0.5s ease;
}
.pswp__caption__center {
  text-align: center;
}
figure {
  display: inline-block;
  float: left;
}
.spacer {
  height: 5em;
}
/*@-webkit-keyframes passing-through { 0% { opacity: 0; -webkit-transform: translateY(40px); -moz-transform: translateY(40px); -ms-transform: translateY(40px); -o-transform: translateY(40px); transform: translateY(40px); }
  30%, 70% { opacity: 1; -webkit-transform: translateY(0px); -moz-transform: translateY(0px); -ms-transform: translateY(0px); -o-transform: translateY(0px); transform: translateY(0px); }
  100% { opacity: 0; -webkit-transform: translateY(-40px); -moz-transform: translateY(-40px); -ms-transform: translateY(-40px); -o-transform: translateY(-40px); transform: translateY(-40px); } }
@-moz-keyframes passing-through { 0% { opacity: 0; -webkit-transform: translateY(40px); -moz-transform: translateY(40px); -ms-transform: translateY(40px); -o-transform: translateY(40px); transform: translateY(40px); }
  30%, 70% { opacity: 1; -webkit-transform: translateY(0px); -moz-transform: translateY(0px); -ms-transform: translateY(0px); -o-transform: translateY(0px); transform: translateY(0px); }
  100% { opacity: 0; -webkit-transform: translateY(-40px); -moz-transform: translateY(-40px); -ms-transform: translateY(-40px); -o-transform: translateY(-40px); transform: translateY(-40px); } }
@keyframes passing-through { 0% { opacity: 0; -webkit-transform: translateY(40px); -moz-transform: translateY(40px); -ms-transform: translateY(40px); -o-transform: translateY(40px); transform: translateY(40px); }
  30%, 70% { opacity: 1; -webkit-transform: translateY(0px); -moz-transform: translateY(0px); -ms-transform: translateY(0px); -o-transform: translateY(0px); transform: translateY(0px); }
  100% { opacity: 0; -webkit-transform: translateY(-40px); -moz-transform: translateY(-40px); -ms-transform: translateY(-40px); -o-transform: translateY(-40px); transform: translateY(-40px); } }
@-webkit-keyframes slide-in { 0% { opacity: 0; -webkit-transform: translateY(40px); -moz-transform: translateY(40px); -ms-transform: translateY(40px); -o-transform: translateY(40px); transform: translateY(40px); }
  30% { opacity: 1; -webkit-transform: translateY(0px); -moz-transform: translateY(0px); -ms-transform: translateY(0px); -o-transform: translateY(0px); transform: translateY(0px); } }
@-moz-keyframes slide-in { 0% { opacity: 0; -webkit-transform: translateY(40px); -moz-transform: translateY(40px); -ms-transform: translateY(40px); -o-transform: translateY(40px); transform: translateY(40px); }
  30% { opacity: 1; -webkit-transform: translateY(0px); -moz-transform: translateY(0px); -ms-transform: translateY(0px); -o-transform: translateY(0px); transform: translateY(0px); } }
@keyframes slide-in { 0% { opacity: 0; -webkit-transform: translateY(40px); -moz-transform: translateY(40px); -ms-transform: translateY(40px); -o-transform: translateY(40px); transform: translateY(40px); }
  30% { opacity: 1; -webkit-transform: translateY(0px); -moz-transform: translateY(0px); -ms-transform: translateY(0px); -o-transform: translateY(0px); transform: translateY(0px); } }
@-webkit-keyframes pulse { 0% { -webkit-transform: scale(1); -moz-transform: scale(1); -ms-transform: scale(1); -o-transform: scale(1); transform: scale(1); }
  10% { -webkit-transform: scale(1.1); -moz-transform: scale(1.1); -ms-transform: scale(1.1); -o-transform: scale(1.1); transform: scale(1.1); }
  20% { -webkit-transform: scale(1); -moz-transform: scale(1); -ms-transform: scale(1); -o-transform: scale(1); transform: scale(1); } }
@-moz-keyframes pulse { 0% { -webkit-transform: scale(1); -moz-transform: scale(1); -ms-transform: scale(1); -o-transform: scale(1); transform: scale(1); }
  10% { -webkit-transform: scale(1.1); -moz-transform: scale(1.1); -ms-transform: scale(1.1); -o-transform: scale(1.1); transform: scale(1.1); }
  20% { -webkit-transform: scale(1); -moz-transform: scale(1); -ms-transform: scale(1); -o-transform: scale(1); transform: scale(1); } }
@keyframes pulse { 0% { -webkit-transform: scale(1); -moz-transform: scale(1); -ms-transform: scale(1); -o-transform: scale(1); transform: scale(1); }
  10% { -webkit-transform: scale(1.1); -moz-transform: scale(1.1); -ms-transform: scale(1.1); -o-transform: scale(1.1); transform: scale(1.1); }
  20% { -webkit-transform: scale(1); -moz-transform: scale(1); -ms-transform: scale(1); -o-transform: scale(1); transform: scale(1); } }
.dropzone, .dropzone * { box-sizing: border-box; }*/
/*
.dropzone.dz-clickable {
  cursor: pointer;
  * {
    cursor: default;
  }
  .dz-message {
    cursor: pointer;
    * {
      cursor: pointer;
    }
  }
}
.dropzone.dz-started {
  .dz-message {
    display: none;
  }
}
.dropzone.dz-drag-hover {
  border-style: solid;
  .dz-message {
    opacity: 0.5;
  }
}
.dropzone {
  min-height: 150px;
  border: 2px dashed dodgerblue;
  background-color: #EFEFEF;

  &#category-mini, &#category-page {
    width: 160px;

    p {
      padding: 15px 0;
    }
  }

  .dz-message {
    text-align: center;
    margin: 2em 0;
  }
  .dz-preview {
    position: relative;
    display: inline-block;
    vertical-align: top;
    margin: 16px;
    min-height: 100px;
    &:hover {
      z-index: 1000;
      .dz-details {
        opacity: 1;
        opacity: 1;
      }
      .dz-image {
        img {
          -webkit-transform: scale(1.05, 1.05);
          -moz-transform: scale(1.05, 1.05);
          -ms-transform: scale(1.05, 1.05);
          -o-transform: scale(1.05, 1.05);
          transform: scale(1.05, 1.05);
          -webkit-filter: blur(8px);
          filter: blur(8px);
        }
      }
    }
    .dz-remove {
      font-size: 14px;
      text-align: center;
      display: block;
      cursor: pointer;
      border: none;
      &:hover {
        text-decoration: underline;
      }
    }
    .dz-details {
      z-index: 20;
      position: absolute;
      top: 0;
      left: 0;
      opacity: 0;
      font-size: 13px;
      min-width: 100%;
      max-width: 100%;
      padding: 2em 1em;
      text-align: center;
      color: @color_1;
      line-height: 150%;
      .dz-size {
        margin-bottom: 1em;
        font-size: 16px;
        span {
          background-color: @background_color_2;
          padding: 0 0.4em;
        }
      }
      .dz-filename {
        white-space: nowrap;
        &:hover {
          span {
            border: 1px solid rgba(200, 200, 200, 0.8);
            background-color: @background_color_1;
          }
        }
        &:not(:hover) {
          overflow: hidden;
          text-overflow: ellipsis;
          span {
            border: 1px solid transparent;
          }
        }
        span {
          background-color: @background_color_2;
          padding: 0 0.4em;
        }
      }
    }
    .dz-image {
      overflow: hidden;
      width: 120px;
      height: 120px;
      position: relative;
      display: block;
      z-index: 10;
      img {
        display: block;
      }
    }
    .dz-success-mark {
      pointer-events: none;
      opacity: 0;
      z-index: 500;
      position: absolute;
      display: block;
      top: 50%;
      left: 50%;
      margin-left: -27px;
      margin-top: -27px;
      svg {
        display: block;
        width: 54px;
        height: 54px;
      }
    }
    .dz-error-mark {
      pointer-events: none;
      opacity: 0;
      z-index: 500;
      position: absolute;
      display: block;
      top: 50%;
      left: 50%;
      margin-left: -27px;
      margin-top: -27px;
      svg {
        display: block;
        width: 54px;
        height: 54px;
      }
    }
    &:not(.dz-processing) {
      .dz-progress {
        -webkit-animation: pulse 6s ease infinite;
        -moz-animation: pulse 6s ease infinite;
        -ms-animation: pulse 6s ease infinite;
        -o-animation: pulse 6s ease infinite;
        animation: pulse 6s ease infinite;
      }
    }
    .dz-progress {
      opacity: 1;
      z-index: 1000;
      pointer-events: none;
      position: absolute;
      height: 16px;
      left: 50%;
      top: 50%;
      margin-top: -8px;
      width: 80px;
      margin-left: -40px;
      background: rgba(255, 255, 255, 0.9);
      -webkit-transform: scale(1);
      overflow: hidden;
      .dz-upload {
        background: #333;
        background: linear-gradient(to bottom, #666, #444);
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        width: 0;
        -webkit-transition: width 300ms ease-in-out;
        -moz-transition: width 300ms ease-in-out;
        -ms-transition: width 300ms ease-in-out;
        -o-transition: width 300ms ease-in-out;
        transition: width 300ms ease-in-out;
      }
    }
    .dz-error-message {
      pointer-events: none;
      z-index: 1000;
      position: absolute;
      display: block;
      display: none;
      opacity: 0;
      -webkit-transition: opacity 0.3s ease;
      -moz-transition: opacity 0.3s ease;
      -ms-transition: opacity 0.3s ease;
      -o-transition: opacity 0.3s ease;
      transition: opacity 0.3s ease;
      font-size: 13px;
      top: 130px;
      left: -10px;
      width: 140px;
      background: #be2626;
      background: linear-gradient(to bottom, #be2626, #a92222);
      padding: 0.5em 1.2em;
      color: @color_2;
      &:after {
        content: '';
        position: absolute;
        top: -6px;
        left: 64px;
        width: 0;
        height: 0;
        border-left: 6px solid transparent;
        border-right: 6px solid transparent;
        border-bottom: 6px solid #be2626;
      }
    }
  }
  .dz-preview.dz-file-preview {
    .dz-image {
      background: #999;
      background: linear-gradient(to bottom, #eee, #ddd);
    }
    .dz-details {
      opacity: 1;
    }
  }
  .dz-preview.dz-image-preview {
    background: white;
    .dz-details {
      -webkit-transition: opacity 0.2s linear;
      -moz-transition: opacity 0.2s linear;
      -ms-transition: opacity 0.2s linear;
      -o-transition: opacity 0.2s linear;
      transition: opacity 0.2s linear;
    }
  }
  .dz-preview.dz-success {
    .dz-success-mark {
      -webkit-animation: passing-through 3s cubic-bezier(0.77, 0, 0.175, 1);
      -moz-animation: passing-through 3s cubic-bezier(0.77, 0, 0.175, 1);
      -ms-animation: passing-through 3s cubic-bezier(0.77, 0, 0.175, 1);
      -o-animation: passing-through 3s cubic-bezier(0.77, 0, 0.175, 1);
      animation: passing-through 3s cubic-bezier(0.77, 0, 0.175, 1);
    }
  }
  .dz-preview.dz-error {
    .dz-error-mark {
      opacity: 1;
      -webkit-animation: slide-in 3s cubic-bezier(0.77, 0, 0.175, 1);
      -moz-animation: slide-in 3s cubic-bezier(0.77, 0, 0.175, 1);
      -ms-animation: slide-in 3s cubic-bezier(0.77, 0, 0.175, 1);
      -o-animation: slide-in 3s cubic-bezier(0.77, 0, 0.175, 1);
      animation: slide-in 3s cubic-bezier(0.77, 0, 0.175, 1);
    }
    .dz-error-message {
      display: block;
    }
    &:hover {
      .dz-error-message {
        opacity: 1;
        pointer-events: auto;
      }
    }
  }
  .dz-preview.dz-processing {
    .dz-progress {
      opacity: 1;
      -webkit-transition: all 0.2s linear;
      -moz-transition: all 0.2s linear;
      -ms-transition: all 0.2s linear;
      -o-transition: all 0.2s linear;
      transition: all 0.2s linear;
    }
  }
  .dz-preview.dz-complete {
    .dz-progress {
      opacity: 0;
      -webkit-transition: opacity 0.4s ease-in;
      -moz-transition: opacity 0.4s ease-in;
      -ms-transition: opacity 0.4s ease-in;
      -o-transition: opacity 0.4s ease-in;
      transition: opacity 0.4s ease-in;
    }
  }
}*/
/*# sourceMappingURL=style.css.map */